<html xmlns:th="http://www.thymeleaf.org"> 
<footer th:fragment="footer" class="py-4 bg-light mt-auto">
	<div id="msgStack" ></div>
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; washwash all rights reserved.</div>
            <div>
                <a href="#">로그아웃</a>
                &middot;
                <a href="#">워시워시 홈페이지</a>
            </div>
        </div>
    </div>
</footer>
</html>