<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metanet.finalproject.pay.repository.IPayRepository">

	<select id="getPay" parameterType="int" resultType="com.metanet.finalproject.pay.model.Pay">
		select PAY_ID as payId, 
	        	PAY_DELIVERY as payDelivery, 
	        	PAY_MONEY as payMoney, 
	        	PAY_DATE as payDate, 
	        	PAY_STATE as payState, 
	        	WASH_ID as washId,
	        	MEMBER_ID as memberId
	    from pay
	    <if test="payId != null">
			where PAY_ID=#{payId}
		</if>
		ORDER BY PAY_ID DESC
		
	</select>
	
	<select id="getWashIdPay" parameterType="int" resultType="com.metanet.finalproject.pay.model.Pay">
		select PAY_ID as payId, 
	        	PAY_DELIVERY as payDelivery, 
	        	PAY_MONEY as payMoney, 
	        	PAY_DATE as payDate, 
	        	PAY_STATE as payState, 
	        	WASH_ID as washId,
	        	MEMBER_ID as memberId
	    from pay
	    <if test="washId != null">
			where WASH_ID=#{washId}
		</if>
		ORDER BY WASH_ID DESC
		
	</select>
	
	<select id="getMemberPay" resultType="com.metanet.finalproject.pay.model.Pay">
		select PAY_ID as payId, 
	        	PAY_DELIVERY as payDelivery, 
	        	PAY_MONEY as payMoney, 
	        	PAY_DATE as payDate, 
	        	PAY_STATE as payState, 
	        	WASH_ID as washId,
	        	MEMBER_ID as memberId
	    from pay
	    <if test="memberId != null">
			where MEMBER_ID=#{memberId}
		</if>
		ORDER BY PAY_ID DESC
	</select>
	
	<select id="getPayState" parameterType="int" resultType="com.metanet.finalproject.pay.model.Pay">
		select PAY_ID as payId, 
	        	PAY_DELIVERY as payDelivery, 
	        	PAY_MONEY as payMoney, 
	        	PAY_DATE as payDate, 
	        	PAY_STATE as payState, 
	        	WASH_ID as washId,
	        	MEMBER_ID as memberId
	    from pay
	    <if test="payState != 0">
			where PAY_STATE=#{payState}
		</if>
		ORDER BY PAY_ID DESC
	</select>

	<insert id="insertPay" parameterType="com.metanet.finalproject.pay.model.Pay">
	    <selectKey keyProperty="payId" resultType="int" order="BEFORE">
			select nvl(max(pay_id), 0) + 1 from pay
		</selectKey>
	    
	    insert into 
	        pay (
		        	PAY_ID, 
		        	PAY_DELIVERY, 
		        	PAY_MONEY, 
		        	PAY_DATE, 
		        	PAY_STATE, 
		        	WASH_ID,
		        	MEMBER_ID
		        )
	    values
	        (
	            #{payId},
	            #{payDelivery},
	            #{payMoney},
	            sysdate,
	            #{payState},
	            #{washId},
	            #{memberId}
	        )
	    
	</insert>
	<!-- insert into 
			pay (PAY_ID, PAY_DELIVERY, PAY_MONEY, PAY_DATE, PAY_STATE, ORDERS_ID)
		values
			(4, #{payDelivery}, 5000, sysdate,1,1) -->
	
	
	<update id="updatePay" parameterType="com.metanet.finalproject.pay.model.Pay">
	    UPDATE pay
	    <set>
	        <!--  <if test="payMoney != null">pay_money = #{payMoney},</if>-->
	        <if test="payState != null">pay_state = #{payState},</if>
	    </set>
	    WHERE wash_id = #{washId}
	</update>
	
	<select id="sumPay" parameterType="int" resultType="int">
		select sum(pay_money) from pay
	</select>
</mapper>