<html xmlns:th="http://www.thymeleaf.org"> 
<div th:fragment="footer" style="margin-top: auto;">
    <div id="fnb__wrap">
        <div class="inner_cont flex_wrap">
            <div class="cs_info flex_wrap">
                <dl>
                    <dt style="font-weight: bold;">상담문의</dt>
                    <dd>070-1116-1999</dd>
                </dl>

                <dl>
                    <dt style="font-weight: bold;">월~금</dt>
                    <dd>11:00 ~ 18:00 (주말, 공휴일 휴무)</dd>
                </dl>
            </div>

            <ul>
                <li style="font-weight: bold;"><a href="https://www.nscoach.com/bbs/content.php?co_id=provision">이용약관</a></li>
                <li style="font-weight: bold;"><a href="https://www.nscoach.com/bbs/content.php?co_id=privacy" style="color:var(--main)">개인정보처리방침</a></li>
                <li style="font-weight: bold;"><a href="/my_page/faq.php">고객센터</a></li>
            </ul>
        </div>
    </div>

    <div id="foot_info">
        <div class="inner_cont">
            <h1><img src="/_img/common/f_logo.jpg" alt=""></h1>
            <p><span style="font-weight: bold;">멍넷</span><span>사업자등록번호 959-33-06611</span><span>대표 : 지수현</span><span>통신판매업신고번호 : 2023-서울혜화-0943</span><span>서울특별시 창경궁로 254</span></p>
            <p id="copyright">Copytight ⓒ2023 mungnet.com all rights reserved.</p>
        </div>
    </div>
</div>
</html>