<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer" style="margin-top: auto;">
	<div id="fnb__wrap">
		<div class="inner_cont flex_wrap">
			<div class="cs_info flex_wrap title">
				<dl>
					<dt style="font-weight: bold;">상담문의</dt>
					<dd>070-1234-1234</dd>
				</dl>

				<dl>
					<dt style="font-weight: bold;">월~금</dt>
					<dd>11:00 ~ 18:00 (주말, 공휴일 휴무)</dd>
				</dl>
			</div>

			<ul>
				<li sec:authorize="isAnonymous()" style="font-weight: bold;" class="title"><a href="/logins">로그인</a></li>
				<li sec:authorize="isAnonymous()" style="font-weight: bold;" class="title"><a href="/signup">회원가입</a></li>
				<li sec:authorize="isAuthenticated()" style="font-weight: bold;" class="title"><a href="/logout2">로그아웃</a></li>
				<!--<li style="font-weight: bold;" class="title"><a href="/customer">고객센터</a></li>-->
			</ul>
		</div>
	</div>

	<div id="foot_info">
		<div class="inner_cont">
			<p><span style="font-weight: bold;" class="title">워시워시</span><span class="title">사업자등록번호
					000-00-00000</span><span class="title">대표 : 지수현</span><span class="title">통신판매업신고번호 :
					2023-서울혜화-0124</span><span class="title">서울특별시 창경궁로 254</span></p>
			<p id="copyright">Copytight ⓒ2024 washwash all rights reserved.</p>
		</div>
	</div>
</div>

</html>