<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Body Header -->

<div th:fragment="header" class="header_wrap">
	<div id="header">
        <div class="hcon1090">
        	<div id="global" class="hglobal">
		        <ul sec:authorize="isAnonymous()">
					<li class="storageClear title">
					<a th:href="@{/logins}" title="로그인 새창 열림">로그인</a>
					</li>
		            <li class="join title">
		            <a th:href="@{/member/insert}">회원가입</a>
		            </li>
		        	<!--<li class="title"><a href="/customer">고객센터</a></li>-->
		        <li class="l"><a href="#" class="redzone">레드존</a></li>
		        </ul>
		        <ul sec:authorize="isAuthenticated()">
					<li class="storageClear title">
					<a th:href="@{/logout2}" title="로그아웃 새창 열림">로그아웃</a>
					</li>
		        	<!--<li class="title"><a href="/customer">고객센터</a></li>	-->
		        <li class="l"><a href="#" class="redzone">레드존</a></li>
		        </ul>
	        </div>
	        <h1 class="hlogo chuchew">
	            <a th:href="@{/}" title="워시워시" class="chulogo title"><span class="blind">워시워시</span></a>
	        </h1>	        
	        <div class="mydongwon_cart_grp">
	            <div class="mydongwonmall">
					<!--여기 security에서 정보 가져가도록 변경 필요-->
	            	<a th:href="@{/member}" class="my_dongwonmall"><img th:src="@{/img/member/my.png}"></a>
	            </div>
	            <div sec:authorize="isAuthenticated()" class="btn-group">
  					<button  type="button" class="mydongwonmall" data-bs-toggle="dropdown" aria-expanded="false">
    	            	<span id="alarmCount" class="cart_btn"><i class="bi bi-bell" style="font-size: 32px; color: #878787;"></i></span>
  					</button>
				  <ul id="alarms" class="dropdown-menu dropdown-menu-end" style="position: absolute;inset: 0px 0px auto auto;margin: 0px;transform: translate(0px, 50px);overflow-y: auto;max-height: 400px;">
					 <li>
						 <div class="dropdown-item title"  style="margin: 10px 0;">
							<strong>알림</strong>
						</div>
					</li>
					<div id="msgStack">
						<li id="alarmIsEmpty"><span class="title" style="padding: 0 20px;"> 알림이 없습니다. </span></p></li>
						<!--<li><div class="dropdown-item title">
						구독기한 만료 
						<p><span class="title" style="padding: 0 10px;">구독기한 만료까지 10일 남았습니다. </span><button type="button" id="altCheck" class="btn btn-primary" style="background-color: var(--sub); font-size: 0.8rem;">확인</button></p>
						</div></li>-->
					</div>
				    
				  </ul>
				</div>
	        </div>
		</div>
		
	    <!-- navbar -->
	    <div id="chu_gnb" class="hgnb">
            <span class="back_layer" style="display: none;"></span>
            <ul class="gnbls">                  
            	<li>
                    <div id="menuClickChu" title="전체 카테고리 화면 열기">
                        <div class="chu_cate" style="display: none;">
                            <ul class="chu_content">
                                <li>
                                    <div class="gnb_list_sub">
                                            <ul class="cate_pet">
                                                <li class="cate_depth cat">
                                                    <p class="cate_name">
                                                        <img th:src="@{/img/member/laundry-machine.png}" alt="세탁기">
                                                    </p>
                                                </li>
                                            </ul>
                                            <div class="menu_list">   
											    <div class="cate_list">
                                                    <h3 class="cate_feed title"><a th:href="@{/}">홈</a></h3>
                                                </div>
                                                <div class="cate_list">
                                                    <h3 class="cate_feed title"><a th:href="@{/svcinfo}">서비스 안내</a></h3>
                                                    <ul>
                                                        <li class="title"><a th:onclick="scrollToElement('section2')" th:href="@{/svcinfo}">서비스 소개</a></li>
                                                        <li class="title"><a th:href="@{/svcinfo#section2}">서비스 종류</a></li>
                                                        <li class="title"><a th:href="@{/svcinfo#section3}">서비스 지역</a></li>
                                                    </ul>
                                                </div>
                                                <div class="cate_list">
                                                    <h3 class="cate_feed title"><a th:href="@{/howuse}">이용 방법</a></h3>
                                                    <ul>
                                                        <li class="title"><a th:href="@{/howuse#how_use_section1}">이용 안내</a></li>
                                                        <li class="title"><a th:href="@{/howuse#how_use_section2}">가격 정보</a></li>
                                                    </ul>
                                                </div>
                                                <div class="cate_list">
                                                    <h3 class="cate_feed title"><a th:href="@{/orders/insert}">세탁 신청</a></h3>
                                                </div>
                                            </div>  	
                                        </div>
                                </li>
                            </ul>
                        </div>
                        <span class="bl"></span>
                        <span class="txt title">카테고리</span>
                    </div>
                </li>
                <li><a th:href="@{/}" title="홈" class="title">홈</a></li>
                <li><a th:href="@{/svcinfo}" title="서비스안내" class="title">서비스 안내</a></li>
                <li><a th:href="@{/howuse}" title="이용방법" class="title">이용 방법</a></li>
                <li><a th:href="@{/orders/insert}" title="세탁신청" class="title">세탁 신청</a></li>
            </ul>
		</div>
	</div>
</div>

</html>