/*추가*/
.title {
    font-family: 'Jua', sans-serif;
}

#container {
    position: relative;
    width: 1090px;
    margin: 0 auto;
    z-index: 1;
}

.login_page #content {
    display: block;
    width: 710px;
    margin: 100px auto;
    box-sizing: border-box;
    border: 1px solid #e3e3e3;
    text-align: center;
}

.login_page .txt_blue {
    color: var(--sub) !important;
}

.login_page .tab_con {
    width: 450px;
    margin: 32px 130px 30px;
    text-align: left;
    overflow: hidden;
    box-sizing: border-box
}

.login_page #login_tab {
    margin-bottom: 80px
}

.login_page .login_form {
    margin-bottom: 15px
}

.login_page .top {
    margin-bottom: 35px;
    text-align: center;
}


.login_page .top h3 {
    font-size: 33px;
    font-weight: 400;
    margin-bottom: 18px
}

.login_page .top .txt {
    display: block;
    font-size: 13px
}

.login_page .ipt_wrap {
    width: 450px;
    height: 50px;
    margin-bottom: 15px;
    clear: both;
    line-height: 15px;
    font-size: 15px;
    color: #333
}

.login_page .login_form .ipt_wrap:last-child {
    margin-bottom: 0
}

.login_page .input_text {
    width: 450px;
    height: 50px;
    border: 1px solid #cbcbcb;
    color: #333;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 50px
}

.login_page .input_text:focus {
    outline: 0;
    border: 1px solid #0095da;
    border-radius: 4px
}

.login_page .btns_wrap {
    float: right
}

.login_page .btns_wrap a {
    padding-left: 15px
}

.login_page button.btn_login_cont {
    width: 100%;
    display: block;
    height: 70px;
    line-height: 65px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    background: var(--sub);
    box-sizing: border-box;
    text-decoration: none;
}

.login_page button.btn_login_cont:hover {
    width: 100%;
    display: block;
    height: 70px;
    line-height: 65px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    background: var(--main);
    box-sizing: border-box;
    text-decoration: none;
}

.login_page .chks {
    font-size: 15px;
    display: inline;
}

.login_page .chks label {
    position: relative;
    display: inline-block;
    margin: 0 10px 0 0;
    height: 15px;
    vertical-align: middle;
    cursor: pointer
}

.login_page .chks label input[type=checkbox] {
    position: absolute;
    width: 15px;
    height: 15px
}

.login_page .chks label span.txt {
    vertical-align: text-top;
    font-weight: 400;
    height: 15px;
    font-size: 15px;
    line-height: 15px;
    padding: 0 0 0 30px
}

.login_page .chks label span.bl {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-size: cover
}

.login_page .chks label.on span.bl {
    background-position: 0 100%;
    background-size: cover
}