<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{include/member/head :: head}"></head>
<body>
<!--Header -->
<div th:replace="~{include/member/header :: header}"></div>

<!-- Main -->
<div class="inner">
    <div class="row mypage">
        <!-- Section left -->
        <div th:replace="~{include/member/mypageNav :: mypageNav}"></div>

        <!-- Section right -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="mypage_right">
                <div class="row">
                    <h2>내 정보 관리</h2>
                </div>
                <div class="row">
                    <div class="mypage_header">
                        <h3>배송지 수정</h3>
                         <!--Content--> 
                        <div class="my_page_form">
                            <form id="sendForm" class="base_info_sec" method="post" action="/member/address/update"
                                  th:object="${updateAddress}">
                                <input type="hidden" th:field="*{addressId}" id="addressId" name="addressId" >

                                <table>
                                    <tbody>
                                    <tr>
                                        <th><span class="important">기본 주소</span></th>
                                        <td class="member_address">
                                            <div class="address_postcode">
                                                우편번호 <input type="text" id="addressZipcode" class="inputData" readonly
                                                       th:field="*{addressZipcode}" required>
                                                <button type="button" class="btn_post_search" onclick="daumPostcode()">
                                                    우편번호 찾기
                                                </button>
                                            </div>
                                            <div class="field-error"
                                                 th:errors="*{addressZipcode}">
                                                우편번호 오류
                                            </div>
                                            <div class="address_input">
                                                <div class="member_warning">
                                                    지번번호 <input type="text" id="addressRoad" name="addressRoad"
                                                           class="inputData" th:field="*{addressRoad}" readonly required>
                                                </div>
                                                <div class="field-error"
                                                     th:errors="*{addressRoad}">
                                                    도로명 오류
                                                </div>
                                                <div class="member_warning js_address_sub">
                                                    상세주소 <input type="text" th:field="*{addressContent}"
                                                           th:errorclass="field-error" id="addressContent"
                                                           name="addressContent" required>
                                                </div>
                                                <div class="field-error"
                                                     th:errors="*{addressContent}">
                                                    상세주소 오류
                                                </div>
                                                <div class="member_warning">
													요청사항 <input type="text" th:errorclass="field-error" th:field="*{addressDetail}"
                                                           id="addressDetail"
                                                           name="addressDetail" required>
                                                </div>                                        
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="btn_right_box">
                                    <button type="button" class="btn_member_cancel"
                                            onclick="location.href ='/member/address'">취소
                                    </button>
                                    <button type="button" id="btnUpdate" class="btn_comfirm js_btn_join">완료</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Top Button -->
<div th:replace="~{include/member/topButton :: topButton}"></div>

<!-- Footer -->
<div th:replace="~{include/member/footer :: footer}"></div>

<script>
	let swTitle = '수정 완료';
	let swComment = '주소가 수정되었습니다.';
	let swImage = 'success';
</script>
</body>
</html>
