<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{include/member/head :: head}"></head>
<body>
	<!-- JS -->
    <script th:src="@{/js/member/searchPost.js}"></script>
	
    <!--Header -->
    <div th:replace="~{include/member/header :: header}"></div>

    <!-- Main -->
    <div class="inner">
        <div class="row mypage">
            <!-- Section left -->
            <div th:replace="~{include/member/mypageNav :: mypageNav}"></div>

            <!-- Section right -->
            <div class="col-sm-9 col-md-9 col-lg-9">
                <div class="mypage_right">
                    <div class="row">
                        <h2>내 정보 관리</h2>
                    </div>
                    <div class="row">
                        <div class="mypage_header">
                            <h3>배송지 추가</h3>
                            <!-- Content -->
                            <div class="my_page_form">
                                <form class="base_info_sec" method="post" action="/member/address/insert">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <th><span class="important">새로운 주소</span></th>
                                                <td class="member_address">
                                                    <div class="address_postcode">
                                                        <input type="text" id="addressZipcode" name="addressZipcode" placeholder="우편번호" class="inputData" required readonly>
                                                        <button type="button" class="btn_post_search" onclick="daumPostcode()">우편번호 찾기</button>
                                                    </div>
                                                    <div class="address_input">
                                                        <div class="member_warning">
                                                            <input type="text" id="addressRoad" name="addressRoad" placeholder="도로명주소" class="inputData" required readonly>
                                                        </div>
                                                        <div class="member_warning js_address_sub">
                                                            <input type="text" id="addressContent" name="addressContent" placeholder="상세주소" required>
                                                        </div>
                                                    </div>
                                                    <div class="address_input">
                                                        <div class="member_warning">
                                                            <input type="text" name="addressDetail" placeholder="요청사항을 입력하세요." id="addressRoad" required>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="btn_right_box">
										<button type="button" id="btnCancel" class="btn_member_cancel" onclick="location.href ='/member/address'">취소</button>
                                        <button type="submit" class="btn_comfirm js_btn_join">완료</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Top Button -->
    <div th:replace="~{include/member/topButton :: topButton}"></div>

    <!-- Footer -->
    <div th:replace="~{include/member/footer :: footer}"></div>

</body>
</html>
