<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/member/head :: head}"></head>
<body>
    <!-- Header -->
    <div th:replace="~{/include/member/header :: header}"></div>

    <!-- Main -->
    <div class="inner">
        <div class="row mypage">
            <!-- Section left -->
            <div th:replace="~{/include/member/mypageNav :: mypageNav}"></div>

            <!-- Section right -->
            <div class="col-sm-9 col-md-9 col-lg-9">
                <div class="mypage_right">
                    <div class="row">
                        <h2>내 정보 관리</h2>
                    </div>
                    <div class="row">
                        <div class="mypage_header">
                            <h3>카드 관리</h3>
                            <!-- Content -->
                            <div class="my_page_form">
                                <form class="base_info_sec" action="" method="">
                                    <table>
                                        <tbody>
											<tr th:if="${card == null}">
                                                <td class="member_address" style="text-align: center;">
                                                    <p style="font-size: 20px;">등록된 카드가 없습니다. <br>카드를 추가하세요<p><br>
                                                    <button id="cardButton" type="button">
														<i class="bi bi-window-plus plusButton"></i>
                                                    </button>	
                                                </td>
                                            </tr>
                                            <tr th:if="${card != null}">
                                                <th><span>아이디</span></th>
                                                <td>
                                                    <div class="member_warning">
                                                        <input type="text" id="memId" name="memId" readonly>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr th:if="${card != null}">
                                                <th><span>결제</span></th>
                                                <td>
                                                    <div class="member_warning">
                                                        <span style="font-weight: bold;">1. 워시플러스 구독 신청 시</span><br>
                                                        등록된 카드로 월 4900원 정기결제를 진행합니다.<br>
                                                        워시플러스 구독 신청을 하시고 배송비 무료 혜택을 경험해보세요!<br>
                                                        결제수단 등록은 <span style="color: #0e8ff2; padding-left: 3px;padding-right: 5px;">마이페이지 > 내 정보 관리 > 카드 관리</span>에서 관리하실 수 있습니다.<br><br>
                                                        <span style="font-weight: bold;">2. 직접 결제 시</span><br>
                                                        등록된 카드로 세탁물 직접 결제를 진행합니다.<br>
                                                        이때는 등록된 결제수단 이외의 결제수단 선택 역시 가능합니다.<br>
                                                        결제수단을 등록하시면, 조금 더 편하게 워시워시를 이용하실 수 있습니다.<br>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="btn_right_box" th:if="${card != null}" >
                                        <button type="button" id="btnCancel" class="btn_member_cancel">수정</button>
                                        <button type="button" class="btn_comfirm js_btn_join" value="" onclick="location.href ='#'">추가</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Top Button -->
    <div th:replace="~{/include/member/topButton :: topButton}"></div>

    <!-- Footer -->
    <div th:replace="~{/include/member/footer :: footer}"></div>
    
    <!-- Js -->
	<script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11}"></script>

	<script>
		$().ready(function() {
    		$('#cardButton').on('click', function() {
            Swal.fire({
                title: '카드 추가',
                html: `
	                <form id="sendForm" method="post" action="/member/card/insert" style="overflow-x: hidden;">
	                    <div class="row gy-3" id="directPaymentForm" style="display: flex;">
							<div class="col-md-12">
								<label for="cc-number" class="form-label title">카드번호</label>
								<input type="text" class="form-control" id="cc-number" placeholder="-없이 작성해 주세요" required="">
								<div class="invalid-feedback title">
									카드번호는 필수입니다
								</div>
							</div>

							<div class="col-md-4">
								<label for="cc-name" class="form-label title">카드사</label>
								<!--<input type="text" class="form-control" id="cc-name" placeholder="" required="">
							<small class="text-body-secondary">국민, 신한, 농협, BC카드 결제 가능합니다.</small>-->
								<select class="form-select" id="cc-company" required="">
									<option value="">선택하세요.</option>
									<option>국민</option>
									<option>신한</option>
									<option>농협</option>
									<option>BC</option>
								</select>
								<div class="invalid-feedback title">
									카드사는 필수입니다
								</div>
							</div>

							<div class="col-md-4">
								<label for="cc-expiration" class="form-label title">유효날짜</label>
								<input type="text" class="form-control" id="cc-expiration" placeholder="ex) 04/28" required="">
								<div class="invalid-feedback title">
									유효날짜는 필수입니다
								</div>
							</div>

							<div class="col-md-4">
								<label for="cc-cvv" class="form-label title">CVC</label>
								<input type="text" class="form-control" id="cc-cvv" placeholder="ex)000" required="">
								<div class="invalid-feedback title">
									CVC 번호는 필수입니다
								</div>
							</div>
						</div>
					</form>
                `,
                showCancelButton: true,
                confirmButtonText: '확인',
                cancelButtonText: '취소',
                buttonsStyling: false,
                customClass: {
                    confirmButton: 'swal-button',
                    cancelButton: 'swal-button-cancel'
                },
                preConfirm: () => function() {
				        swal('카드등록 완료', '카드가 등록되었습니다.', 'success')
				        .then((result) => {
				            if (result) {
				                document.getElementById('sendForm').submit();
				            }
				        });
					}
	            });
	        });
	    });
	</script>
</body>
</html>
