<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/member/head :: head}"></head>
<body>
<link rel="stylesheet" th:href="@{/css/member/orders.css}">
<link rel="stylesheet" th:href="@{/css/member/test.css}">


<!-- JS -->
<script th:src="@{/js/member/cardModal.js}"></script>

<!-- Header -->
<div th:replace="~{/include/member/header :: header}"></div>

<!-- Main -->
<div class="inner">
    <div class="row mypage">
        <!-- Section left -->
        <div th:replace="~{/include/member/mypageNav :: mypageNav}"></div>

        <!-- Section right -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="mypage_right">
                <div class="row">
                    <h2 class="title">서비스 관리</h2>
                </div>
                <div class="row">
                    <div class="mypage_header">
                        <h3 class="title">결제 관리</h3>

                        <div class="my_page_form">

                            <div class="credit-card mt-5 mb-3 title" id="card">
                                <div class="card-front">
                                    <div class="branding">
                                        <img th:src="@{/img/member/chip.png}" class="chip-img">
                                        <img th:src="@{/img/member/visa.png}" class="visa-logo">
                                    </div>
                                    <div class="card-number" style="font-size: 20px;">
                                        xxxx-xxxx-xxxx-xxxx
                                    </div>
                                    <div class="details">
                                        <div>
                                            <span>Card Holder</span>
                                            <span th:text="${member.memberName}"></span>
                                        </div>
                                        <div>
                                            <span>Expires</span>
                                            <span id="validity" class="title">xx/xx</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="mypage_header">
                        <h3 class="title">결제 내역</h3>
                        <!-- Content -->
                        <div class="my_page_form" style="border: none;">
                            <div class="row mt-2" style="justify-content: right;">
                                <div class="col-md-2 col-lg-2">
                                    <select id="payState" class="form-select title" aria-label="Default select example">
                                        <option value="1" selected>결제완료</option>
                                        <option value="2">결제취소</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="mypage-table__wrap">
                            <div class="mypage-table" id="memberTable" th:fragment="memberTable">
                                <table>
                                    <colgroup>
                                        <col style="width:20%">
                                        <col style="width:20%">
                                        <col>
                                        <col style="width:20%">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th scope="col" class="title">결제번호</th>
                                        <th scope="col" class="title">결제일자</th>
                                        <th scope="col" class="title">결제금액(배송비)</th>
                                        <th scope="col" class="title">결제상태</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="pay : ${pays}">
                                        <td class="title">
                                            <span th:text="'#'+${pay.payId}"></span>
                                        </td>
                                        <td class="title">
                                            <span th:text="${pay.payDate}"></span>
                                        </td>
                                        <td class="title">
                                            <span data-th-text="${#numbers.formatInteger(pay.payMoney, 0, 'COMMA') + '원'}"></span>
                                            (<span
                                                data-th-text="${#numbers.formatInteger(pay.payDelivery, 0, 'COMMA') + '원'}"></span>)
                                        </td>
                                        <td class="title">
                                            <span th:if="${pay.payState} == '1'">결제 완료</span>
                                            <span th:if="${pay.payState} == '2'">결제 취소</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!--paginate-->
                                <div class="paginate">
                                    <div class="paging">
                                        <th:block
                                                th:each="idx : ${#numbers.sequence(pagination.firstPage, pagination.lastPage)}">
                                            <input id="currentPage" type="hidden" th:value="${idx}"/>
                                            <input id="cntPerPage" type="hidden" th:value="${pagination.cntPerPage}"/>
                                            <input id="pageSize" type="hidden" th:value="${pagination.pageSize}"/>
                                            <a th:style="'color:' + (${pagination.currentPage} == ${idx} ? '#cc0000; font-weight:700; margin-bottom: 2px;' : '')"
                                               href="javascript:void(0);"
                                               th:onclick="'movePage(' + ${idx} + ',' + ${pagination.cntPerPage} + ',' + ${pagination.pageSize} + ');'">
                                                <!--									   th:onclick="paging()">-->
                                                <span id="idx" th:text="${idx}"></span>
                                            </a>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<!-- Top Button -->
<div th:replace="~{/include/member/topButton :: topButton}"></div>

<!-- Footer -->
<div th:replace="~{/include/member/footer :: footer}"></div>

<!-- Js -->
<script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11}"></script>

<script>
    let swTitle = '카드 등록완료';
    let swComment = '카드등록이 완료되었습니다.';
    let swImage = 'success';
</script>

<!--xmlHttpRequest-->
<script th:inline="javascript">

    document.addEventListener("DOMContentLoaded", function () {
        const paySel = document.querySelector('#payState');
        paySel.addEventListener("change", function () {
            const selected = this.value;
            sendData(selected);
        });

        let xhr = null;

        function getInstance() {
            if (window.XMLHttpRequest) {
                xhr = new XMLHttpRequest();
            } else if (window.ActiveXObject) { //IE
                console.log("IE");
            } else {
                throw new Error("Ajax 비동기 지원하지 않아요");
            }
            return xhr;
        }

        function handlerStateChange() {
            if (xhr.readyState == 4) {
                if (xhr.status >= 200 && xhr.status < 300) {
                    const fragment = xhr.responseText;
                    document.getElementById("memberTable").innerHTML = fragment;
                } else {
                    console.log("비정상 응답 : " + xhr.status);
                }
            }
        }

        function sendData(payState) {
            xhr = getInstance();
            xhr.onreadystatechange = handlerStateChange;
            xhr.open("GET", "/pay/search/" + payState);
            xhr.send();
        }
    });

    function movePage(currentPage, cntPerPage, pageSize) {
        console.log("movepage동작");
        let state = document.querySelector("#payState > option:checked").value;
        // radioButtons.forEach(function (radioButton) {
        //     radioButton.addEventListener("change", function () {
        //         month = this.value;
        //     });
        // });

        // let currentPage = document.querySelector("#currentPage").value;
        // let cntPerPage = document.querySelector("#cntPerPage").value;
        // let pageSize = document.querySelector("#pageSize").value;
        const queryParam = {
            currentPage: currentPage,
            cntPerPage: cntPerPage,
            pageSize: pageSize,
            state: state
        }

        let xhr = null;

        function getInstance() {
            if (window.XMLHttpRequest) {
                xhr = new XMLHttpRequest();
            } else if (window.ActiveXObject) { //IE
                console.log("IE");
            } else {
                throw new Error("Ajax 비동기 지원하지 않아요");
            }
            return xhr;
        }

        function handlerStateChange() {
            if (xhr.readyState == 4) {
                if (xhr.status >= 200 && xhr.status < 300) {
                    const fragment = xhr.responseText;
                    console.log(fragment);
                    document.getElementById("memberTable").innerHTML = fragment;
                } else {
                    console.log("비정상 응답 : " + xhr.status);
                }
            }
        }

        function sendData() {
            xhr = getInstance();
            xhr.onreadystatechange = handlerStateChange;

            var url = "/member/card/async" + '?' + new URLSearchParams(queryParam).toString();

            xhr.open("GET", url, true);
            xhr.send();
        }

        sendData(queryParam);
    }
</script>

</body>
</html>