<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{include/member/head :: head}"></head>
<body>
    <!-- Header -->
    <div th:replace="~{include/member/header :: header}"></div>

    <!-- Main -->
    <div class="login_page">
        <div id="content">
            <div id="login_tab" class="tab_con" style="display: block;">
                <div class="top">
                    <h3><strong class="txt_blue">워시워시</strong> 로그인</h3>
                </div>
                <div class="login_form">
                    <fieldset>
                        <legend></legend>
                        <form method="post" action="/login" th:object="${dto}">
                            <div class="ipt_wrap">
                                <legend for="userid">아이디</legend>
                                <input type="email" th:field="*{memberEmail}" th:errorclass="field-error" id="memberEmail" name="memberEmail" class="input_text rounded" placeholder="아이디">
                            </div>
                            <div class="field-error" th:errors="*{memberEmail}">
                                아이디 오류
                            </div>
                            <div class="ipt_wrap">
                                <legend for="userpw">패스워드</legend>
                                <input type="password" th:field="*{memberPassword}" th:errorclass="field-error" id="memberPassword" name="memberPassword" class="input_text rounded" placeholder="패스워드">
                            </div>
                            <div class="field-error" th:errors="*{memberPassword}">
                                비밀번호 오류
                            </div>
                            <div class="ipt_wrap">
                                <div class="chks chk_agree fl">
                                    <label class="chkcon" id="chk_saveid">
                                        <input type="checkbox" title="아이디저장" name="saveid" value="Y">
                                        <span class="txt">아이디저장</span>
                                        <span class="bl"></span>
                                    </label>
                                </div>
                                <div class="btns_wrap">
                                    <a th:href="@{/member/insert}" class="small">회원가입</a>
                                </div>
                            </div> 
                            <button type="submit" class=" btn_login_cont">로그인</button>
                        </form>
                    </fieldset>
                    <ul class="cmem_sns_login notranslate">
						<li>
							<a href="#">
								<span class="ico_area">
									<span class="sp_cmem_sns cmem_ico_naver"></span>
								</span>
								<span class="cmem_sns_name">네이버</span>
							</a>
						</li>
						<li>
							<a href="javascript:kakaoLogin('login');">
								<span class="ico_area">
									<span class="sp_cmem_sns cmem_ico_kakao"></span>
								</span>
								<span class="cmem_sns_name">카카오</span>
							</a>
						</li>
						
					</ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Top Button -->
    <div th:replace="~{include/member/topButton :: topButton}"></div>

    <!-- Footer -->
    <div th:replace="~{include/member/footer :: footer}"></div>

</body>
</html>
