<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{include/member/head :: head}">
</head>
<body>
    <!-- Header -->
    <div th:replace="~{include/member/header :: header}"></div>

    <!-- Main -->
    <div class="inner">
        <div class="row mypage">
        
            <!-- Section left -->
            <div th:replace="~{include/member/mypageNav :: mypageNav}"></div>
            
            <!-- Section right -->
            <div class="col-sm-9 col-md-9 col-lg-9">
                <div class="mypage_right">
                    <div class="row">
                        <h2>내 정보 관리</h2>
                    </div>
                    
                    <div class="row">
                        <div class="mypage_header">
                            <h3>회원 탈퇴</h3>
                            <form id="sendForm" class="my_page_form" method="post" action="/member/delete" th:object="${dto}">
                                <div class="base_info_sec">
									<table>
                                        <tbody>
											<tr>
                                                <th><span>주의사항</span></th>
                                                <td>
                                                    <div class="member_warning">
                                                        회원탈퇴 시 재 가입이 어려우니 신중하게 선택해 주시길 바랍니다.<br>
                                                        <span
                                                            style="color: #0e8ff2;">해지를 원하시면, 탈퇴 버튼을 눌러주세요.</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span>아이디</span></th>
                                                <td class="member_email">
                                                    <div class="member_warning">
                                                        <input type="text" th:field="*{memberEmail}" th:errorclass="field-error" id="memberEmail" name="memberEmail" class="inputData" readonly>
                                                    </div>
                                                    <div class="field-error" th:errors="*{memberEmail}">
                                                        이메일 오류
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span>비밀번호 입력</span></th>
                                                <td class="member_email">
                                                    <div class="member_warning">
                                                        <input type="password" th:field="*{memberPassword}" th:errorclass="field-error" id="memberPassword" name="memberPassword" maxlength="30" required>
                                                    </div>
                                                    <div class="field-error" th:errors="*{memberPassword}">
                                                        비밀번호 오류
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                    <div class="btn_right_box">
                                    	<button type="button" id="btnUpdate" class="btn_comfirm js_btn_join">회원 탈퇴</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Top Button -->
    <div th:replace="~{include/member/topButton :: topButton}"></div>
    
    <!-- Footer -->
    <div th:replace="~{include/member/footer :: footer}"></div>
    
    <script>
		let swTitle = '탈퇴 완료';
		let swComment = '이용해 주셔서 감사합니다.';
		let swImage = 'success';
	</script>


</body>
</html>
