<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{include/member/head :: head}"></head>

<body>
	<!-- JS -->
    <script th:src="@{/js/member/searchPost.js}"></script>
	
    <!-- Header -->
    <div th:replace="~{include/member/header :: header}"></div>

    <!-- Main -->
    <div class="inner">
        <div class="row mypage">
        
            <!-- Section left -->
            <div th:replace="~{include/member/mypageNav :: mypageNav}"></div>
            
            <!-- Section right -->
            <div class="col-sm-9 col-md-9 col-lg-9">
                <div class="mypage_right">
                    <div class="row">
                        <h2>내 정보 관리</h2>
                    </div>
                    <div class="row">
                        <div class="mypage_header">
                            <h3>계정 수정</h3>
                            <form class="my_page_form" method="post" action="/member/update">
                                <div class="base_info_sec">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <th><span class="important">아이디</span></th>
                                                <td class="member_email">
                                                    <div class="member_warning">
                                                        <input type="text" id="memberEmail" name="memberEmail" th:value="${member.memberEmail}" class="inputData" readonly>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span class="important">이름</span></th>
                                                <td class="member_email">
                                                    <div class="member_warning">
                                                        <input type="text" id="memberName" name="memberName" maxlength="30" th:value="${member.memberName}" required>
                                                    </div>
                                                </td>
                                            </tr>
                                           
                                            <tr>
                                                <th><span class="important">휴대폰번호</span></th>
                                                <td class="member_address">
                                                    <div class="address_postcode">
                                                        <input type="text" id="memberPhoneNumber" name="memberPhoneNumber" maxlength="13" th:value="${member.memberPhoneNumber}" required>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                    <div class="btn_right_box">
										<button type="button" id="btnCancel" class="btn_member_cancel" onclick="location.href ='/member'">취소</button>
                                        <button type="submit" class="btn_comfirm js_btn_join">완료</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Top Button -->
    <div th:replace="~{include/member/topButton :: topButton}"></div>
    
    <!-- Footer -->
    <div th:replace="~{include/member/footer :: footer}"></div>

</body>
</html>
