<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/member/head :: head}"></head>
<body>
    <!-- Header -->
    <div th:replace="~{/include/member/header :: header}"></div>

    <!-- Main -->
    <div class="inner">
        <div class="row mypage">
            <!-- Section left -->
            <div th:replace="~{/include/member/mypageNav :: mypageNav}"></div>

            <!-- Section right -->
            <div class="col-sm-6 col-md-7 col-lg-9">
                <div class="mypage_right">
                    <div class="row">
                        <h2>내 정보 관리</h2>
                    </div>
                    <div class="row">
                        <div class="mypage_header">
                            <h3>비밀번호 변경</h3>
                            <!-- Content -->
                            <div class="my_page_form">
                                <form class="base_info_sec" method="post">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <th><span>아이디</span></th>
                                                <td>
                                                    <div class="member_warning">
                                                        <input type="text" id="memId" name="memId" readonly>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span>현재 비밀번호</span></th>
                                                <td>
                                                    <div class="member_warning">
                                                        <input type="text" id="memberPassword" name="memberPassword" value="" maxlength="30">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span>신규 비밀번호</span></th>
                                                <td>
                                                    <div class="member_warning">
                                                        <input type="text" id="memberPassword2" name="memberPassword2" value="" maxlength="30">
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="btn_right_box">
                                        <button type="reset" class="btn_member_cancel">취소</button>
                                        <button type="submit" class="btn_comfirm js_btn_join" onclick="location.href ='/member/password'">완료</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Top Button -->
    <div th:replace="~{/include/member/topButton :: topButton}"></div>

    <!-- Footer -->
    <div th:replace="~{/include/member/footer :: footer}"></div>

</body>
</html>
