<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/include/member/head :: head}"></head>

<body>
	<p th:text="${orders}"></p>
    <!-- Header -->
    <div th:replace="~{/include/member/header :: header}"></div>

    <!-- Main -->
    <div class="inner">
        <div class="row mypage">
            <!-- Section left -->
            <div th:replace="~{/include/member/mypageNav :: mypageNav}"></div>

            <!-- Section right -->
            <div class="col-sm-9 col-md-9 col-lg-9">
                <div class="mypage_right">
                    <div class="row">
                        <h2>서비스 관리</h2>
                    </div>
                    <div class="row">
                        <div class="mypage_header">
                            <h3>주문 관리</h3>
                            <!-- Content -->
                            <div class="my_page_form">
                                <form class="base_info_sec" action="" method="">
                                    <table>
                                        <tbody>
                                            <tr th:each="order : ${orders}">
                                                <th><p th:text="${order.ordersDate}"></p></th>
                                                <td>
                                                    <div class="member_warning">
														<strong style="font-weight: bold; color: black;">진행상황 : </strong>
                                                        <span class="mylist" th:if="${order.ordersStatus == '1'}">
                                                            수거 진행
                                                        </span>
                                                        <span class="mylist" th:if="${order.ordersStatus == '2'}">
                                                            세탁 진행
                                                        </span>
                                                        <span class="mylist" th:if="${order.ordersStatus == '3'}">
                                                            배송 진행
                                                        </span>
                                                        <br>
                                                            <p>
																<span>총 수량 : <strong th:text="${order.ordersCount}"></strong> </span>아우터 1벌, 상의 2벌</p>
                                                    </div>
                                                </td>
                                                <td style="background: #fbfbfb; text-align: center; padding-right: 15px;">
                                                    <div class="member_warning mb-3">
                                                        <a th:href="@{/member/address/update}" id="order_detail_list" class="btn_post_search" style="text-decoration-line: none">수정</a>
                                                    </div>
                                                    <div class="member_warning">
                                                        <a th:href="@{/member/orders/delete/__${ordersId}__}" id="order_detail_list" class="btn_post_search" style="text-decoration-line: none">취소</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Top Button -->
    <div th:replace="~{/include/member/topButton :: topButton}"></div>

    <!-- Footer -->
    <div th:replace="~{/include/member/footer :: footer}"></div>

</body>
</html>
