<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{include/member/head :: head}"></head>
<body>
    <link rel="stylesheet" th:href="@{/css/member/orders.css}">

    <!-- Header -->
    <div th:replace="~{include/member/header :: header}"></div>

    <!-- Main -->
    <div class="inner">
        <div class="row mypage">
            <!-- Section left -->
            <div th:replace="~{include/member/mypageNav :: mypageNav}"></div>

            <!-- Section right -->
            <div class="col-sm-9 col-md-9 col-lg-9">
                <div class="mypage_right">
                    <div class="row">
                        <h2>서비스 관리</h2>
                    </div>
                    <div class="row">
                        <div class="mypage_header">
                            <h3>주문 관리</h3>
                            <!-- Content -->
                            <div class="my-month__wrap">
                                <ul id="period" class="month_list">
                                    <li>조회기간</li>
                                    <li><input type="radio" name="radio_name_d" data-value="1:m" id="radio_d_1_2" value="1" data-datepicker-push="unique_datepicker_name" data-push-align="back"> <label for="radio_d_1_2">1개월</label></li>
                                    <li><input type="radio" name="radio_name_d" data-value="3:m" id="radio_d_1_3" value="3" data-datepicker-push="unique_datepicker_name" data-push-align="back"> <label for="radio_d_1_3">3개월</label></li>
                                    <li><input type="radio" name="radio_name_d" data-value="6:m" id="radio_d_1_4" value="6" data-datepicker-push="unique_datepicker_name" data-push-align="back"> <label for="radio_d_1_4">6개월</label></li>
                                </ul>
                            </div>
                            <div class="order-item">
                                <div class="mypage-table__wrap">
                                    <div class="mypage-table">
                                        <table>
                                            <colgroup>
                                                <col>
                                                <col style="width:14%">
                                                <col style="width:14%">
                                                <col style="width:20%">
                                                <col style="width:16%">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">상품정보</th>
                                                    <th scope="col">주문수량</th>
                                                    <th scope="col">주문금액</th>
                                                    <th scope="col">진행상태</th>
                                                    <th scope="col">진행현황</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <div th:each="order : ${orders}">
                                                    <tr>
                                                        <td colspan="5" class="order-info__list">
                                                            <ul>
                                                                <li>
                                                                    <strong>주문번호 :</strong>
                                                                    <span th:text="${order.ordersId}">1</span>
                                                                </li>
                                                                <li th:text="${order.ordersDate}">주문일 : 2024-01-04</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="ui-item order" data-item-section="">
                                                                <div class="ui-item__inner">
                                                                    <div class="ui-item__info">
                                                                        <div class="item_name">
                                                                            <strong class="brand">상의</strong><span class="prd">블라우스</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span><strong>3</strong></span>개
                                                        </td>
                                                        <td>
                                                            <span><strong>1,000</strong></span>원
                                                        </td>
                                                        <td>
                                                            <span><strong>배송완료</strong></span>
                                                        </td>
                                                        <td>
                                                            <div class="box-btn">
                                                                <a th:href="@{/orders/update/__${order.ordersId}__}" class="btn05 c01 sitemCheckBtn">
                                                                    <span>주문수정</span>
                                                                </a>
                                                                <a th:href="@{/orders/delete/__${order.washId}__}" class="btn05 mainC03 itemReviewWrite">
                                                                    <span>주문취소</span>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </div>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="cm-pagination" id="ordListPaging">
                                        <div class="pagination__inner"><a href="#" role="button" class="active" data-paging-btn="" data-value="1">1</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Top Button -->
    <div th:replace="~{include/member/topButton :: topButton}"></div>

    <!-- Footer -->
    <div th:replace="~{include/member/footer :: footer}"></div>
</body>
</html>
