<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{include/member/head :: head}"></head>
<body>
    <link rel="stylesheet" th:href="@{/css/member/orders.css}">

    <!-- Header -->
    <div th:replace="~{include/member/header :: header}"></div>

    <!-- Main -->
    <div class="inner">
        <div class="row mypage">
            <!-- Section left -->
            <div th:replace="~{include/member/mypageNav :: mypageNav}"></div>

            <!-- Section right -->
            <div class="col-sm-9 col-md-9 col-lg-9">
                <div class="mypage_right">
                    <div class="row">
                        <h2>서비스 관리</h2>
                    </div>
                    <div class="row">
                        <div class="mypage_header">
                            <h3>주문 상세</h3>
                            <!-- Content -->
                            <div class="my-month__wrap">
                                <ul id="period" class="month_list">
                                    <li>조회기간</li>
                                    <li><input type="radio" name="radio_name_d" id="radio_d_1_2" data-value="1:m" value="1" data-datepicker-push="unique_datepicker_name" data-push-align="back"> <label for="radio_d_1_2">1개월</label></li>
                                    <li><input type="radio" name="radio_name_d" id="radio_d_1_3" data-value="3:m" value="3" data-datepicker-push="unique_datepicker_name" data-push-align="back"> <label for="radio_d_1_3">3개월</label></li>
                                    <li><input type="radio" name="radio_name_d" id="radio_d_1_4" data-value="6:m" value="6" data-datepicker-push="unique_datepicker_name" data-push-align="back"> <label for="radio_d_1_4">6개월</label></li>
                                </ul>
                            </div>
                            <div class="order-item">
                                <div class="mypage-table__wrap">
                                    <div class="mypage-table">
                                        <table id="memberTable" th:fragment="memberTable">
                                            <colgroup>
                                                <col>
                                                <col style="width:20%">
                                                <col style="width:20%">
                                                <col style="width:24%">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">상품정보</th>
                                                    <th scope="col">주문수량</th>
                                                    <th scope="col">주문금액</th>
                                                    <th scope="col">진행현황</th>
                                                </tr>
                                            </thead>
                                            <tbody >
                                                <div th:each="order : ${orders}">
                                                    <tr>
                                                        <td colspan="5" class="order-info__list">
                                                            <ul>
                                                                <li>
                                                                    <strong>주문번호 :</strong>
                                                                    <span th:text="${order.ordersId}">1</span>
                                                                </li>
                                                                <li th:text="${order.ordersDate}">주문일 : 2024-01-04</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="ui-item order">
                                                                <div class="ui-item__inner">
                                                                    <div class="ui-item__info" th:each="laundry : ${laundrys}" th:if="${order.laundryId == laundry.laundryId}" >
                                                                        <div class="item_name" >
                                                                            <strong th:if="${order.laundryId < 12}" class="brand">상의</strong>
                                                                            <strong th:if="${order.laundryId >= 12 and order.laundryId < 16}" class="brand">하의</strong>
                                                                            <strong th:if="${order.laundryId >= 16 and order.laundryId < 20}" class="brand">신발</strong>
                                                                            <strong th:if="${order.laundryId >= 20}" class="brand">기타</strong>
                                                                            <span class="prd" th:text="${laundry.laundryName}"></span>
                                                                        </div>
                                                                        <div class="item_detail">
                                                                        	<p class="order_option">
																				<strong>세탁유형 : </strong>
                                                                        		<span th:if="${laundry.laundryCategory == '1'}">생활빨래</span>
                                                                        		<span th:if="${laundry.laundryCategory == '2'}">개별클리닝</span>
                                                                        	</p>
                                                                    	</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span><strong th:text="${order.ordersCount}"></strong></span>개
                                                        </td>
                                                        <td>
                                                            <strong data-th-text="${#numbers.formatInteger(order.ordersPrice, 0, 'COMMA') + '원'}"></strong>
                                                        </td>
                                                       
                                                        <td>
                                                            <div class="box-btn">
                                                                <!--<a th:href="@{/orders/update/__${order.ordersId}__}" class="btn05 c01 sitemCheckBtn">
                                                                    <span>주문수정</span>
                                                                </a>-->
                                                                <form method="post" th:action="@{/orders/delete/{ordersId}/{washId} (ordersId=${order.ordersId}, washId=${order.washId})}">
																	
																
                                                                <button type="submit" class="btn05 mainC03 itemReviewWrite mt-2">
                                                                    <span>주문취소</span>
                                                                </button>
                                                                </form>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </div>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="cm-pagination" id="ordListPaging">
                                        <div class="pagination__inner"><a href="#" role="button" class="active" data-paging-btn="" data-value="1">1</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Top Button -->
    <div th:replace="~{include/member/topButton :: topButton}"></div>

    <!-- Footer -->
    <div th:replace="~{include/member/footer :: footer}"></div>
    
    <!--xmlHttpRequest-->
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function () {
            const radioButtons = document.querySelectorAll('input[name="radio_name_d"]');

            radioButtons.forEach(function (radioButton) {
                radioButton.addEventListener("change", function () {
                    const selectedMonth = this.value;
                    sendData(selectedMonth);
                });
            });

            let xhr = null;

            function getInstance() {
                if (window.XMLHttpRequest) {
                    xhr = new XMLHttpRequest();
                } else if (window.ActiveXObject) { //IE
                    console.log("IE");
                } else {
                    throw new Error("Ajax 비동기 지원하지 않아요");
                }
                return xhr;
            }

            function handlerStateChange() {
                if (xhr.readyState == 4) {
                    if (xhr.status >= 200 && xhr.status < 300) {
 					const fragment = xhr.responseText;
 					console.log(fragment);
                        document.getElementById("memberTable").innerHTML = fragment;
                    } else {
                        console.log("비정상 응답 : " + xhr.status);
                    }
                }
            }

            function sendData(month) {
                xhr = getInstance();
                xhr.onreadystatechange = handlerStateChange;
				
                xhr.open("GET", "/orders/month/" + month);
                xhr.send();
            }
        });
    </script>
</body>
</html>
