<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{include/member/head :: head}"></head>
<body>
	<!--Header -->
	<div th:replace="~{include/member/header :: header}"></div>


    <!-- Main -->
    <div>
        <!-- Section 1 -->
        <div id="section1" class="service_info_section1">
            <div class="inner">
                <div class="row">
                    <div class="col-md-6 col-12 image">
                        <img th:src="@{/img/member/service_information_banner.png}">
                    </div>
                    <div class="col-md-6 col-12 mt-10 banner">
                        <div class="text">
                            <span>합리적인 가격 서비스</span><h2>편리하고 합리적인 <br>서비스가 필요하다면?</h2><br><strong> 비대면 세탁소 워시워시!</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-background section-cover"></div>

        <!-- Section2 -->
        <div id="section2" class="service_info_section2">
            <div class="inner">
                <h1>세탁의 정석<br>한 번에 해결하세요</h1>
                <div class="row mb-5">
                    <div class="col-md-6 col-lg service_info_text">
                        <h2>일반 클리닝</h2>
                        <p>봉투에 수건, 양말, 잠옷 같은 빨랫감을 담아주시면 단독 물세탁하고 보송하게 개어 드립니다. 건조기와 빨래방 찾지 말고 저렴한 가격에 세탁 없는 일상을 직접 경험해보세요.</p>
                        <div class="image1">
                            <img th:src="@{/img/member/service_info2.png}">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg service_info_text">
                        <h2>개별 클리닝</h2>
                        <p>드라이클리닝뿐만 아니라 웨트클리닝까지. 개별 품목의 권장된 케어라벨에 따라 세탁하고, 오염 제거를 위한 다양한 케어가 포함됩니다. 의류 뿐만 아니라 침구류, 신발, 러그ㆍ카페트, 가죽ㆍ모피 제품까지 세탁 가능해요.</p>
                        <div class="image2">
                            <img th:src="@{/img/member/service_info1.png}">
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-6 col-lg service_info_text">
                        <h2>당일 배송</h2>
                        <p>다음날 아침에 일어나 바로 즉시 깨끗한 세탁물을 사용할 수 있는 당일 배송을 진행합니다. 오전 10시 이전에 주문한 세탁물은 오후 10시 이전에 받을 수 있습니다.</p>
                        <div class="image2">
                            <img th:src="@{/img/member/service_info3.png}">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg service_info_text">
                        <h2>일반 배송</h2>
                        <p>고객님의 세탁물은 수거, 업체에 접수, 세탁, 배송의 과정으로 진행되어 4~5일정도 소요될 수 있습니다. 조금만 참고 기다려주세요</p>
                        <div class="image1">
                            <img th:src="@{/img/member/service_info4.png}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-background section-cover"></div>

		<!--수정 필요-->
	    <!--<section id="section8504337" class="section widthNormal mymaindiv" data-orderno="7">
            <div class="home contents">
                <div class="inner container">
                    <div class="row">
                        <div class="col-md-3 customSectionColumn column-4">
                            <div class="item-wrapper text-title mb-4">
                                <div class="item-element" >
                                    <p class="" style="text-align: left; font-size: 24px;">천연세제 (생활빨래)</p>
                                </div>
                            </div>
                            <div  class="item-wrapper image" style="text-align:left;">
                                <div  class="item-element" style="width:100%;">
                                    <div class="img ratio-3to2"
                                        imgsrc="/uploadedFiles/92052/default/image_1621907479579.png"
                                        style="background-image: url(&quot;https://contents.sixshop.com/thumbnails/uploadedFiles/92052/default/image_1621907479579_300.png&quot;);">
                                    </div>
                                </div>
                            </div>
                            <div  class="item-wrapper text-body">
                                <div  class="item-element">
                                    <p style="text-align: left; font-size: 16px;"><span 
                                            style="color: rgb(0, 0, 0);">예민한 피부에는 자연주의 브랜드 '심플리오'의 26가지 알러젠 프리 향료를 사용한 천연세제를
                                            이용해보세요.</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 customSectionColumn column-4">
                            <div class="item-wrapper text-title mb-4">
                                <div class="item-element" >
                                    <p class="" style="text-align: left; font-size: 24px;">천연세제 (생활빨래)</p>
                                </div>
                            </div>
                            <div  class="item-wrapper image" style="text-align:left;">
                                <div  class="item-element" style="width:100%;">
                                    <div class="img ratio-3to2"
                                        imgsrc="/uploadedFiles/92052/default/image_1621907479579.png"
                                        style="background-image: url(&quot;https://contents.sixshop.com/thumbnails/uploadedFiles/92052/default/image_1621907479579_300.png&quot;);">
                                    </div>
                                </div>
                            </div>
                            <div  class="item-wrapper text-body">
                                <div  class="item-element">
                                    <p style="text-align: left; font-size: 16px;"><span 
                                            style="color: rgb(0, 0, 0);">예민한 피부에는 자연주의 브랜드 '심플리오'의 26가지 알러젠 프리 향료를 사용한 천연세제를
                                            이용해보세요.</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 customSectionColumn column-4">
                            <div class="item-wrapper text-title mb-4">
                                <div class="item-element" >
                                    <p class="" style="text-align: left; font-size: 24px;">천연세제 (생활빨래)</p>
                                </div>
                            </div>
                            <div  class="item-wrapper image" style="text-align:left;">
                                <div  class="item-element" style="width:100%;">
                                    <div class="img ratio-3to2"
                                        imgsrc="/uploadedFiles/92052/default/image_1621907479579.png"
                                        style="background-image: url(&quot;https://contents.sixshop.com/thumbnails/uploadedFiles/92052/default/image_1621907479579_300.png&quot;);">
                                    </div>
                                </div>
                            </div>
                            <div  class="item-wrapper text-body">
                                <div  class="item-element">
                                    <p style="text-align: left; font-size: 16px;"><span 
                                            style="color: rgb(0, 0, 0);">예민한 피부에는 자연주의 브랜드 '심플리오'의 26가지 알러젠 프리 향료를 사용한 천연세제를
                                            이용해보세요.</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 customSectionColumn column-4">
                            <div class="item-wrapper text-title mb-4">
                                <div class="item-element" >
                                    <p class="" style="text-align: left; font-size: 24px;">천연세제 (생활빨래)</p>
                                </div>
                            </div>
                            <div  class="item-wrapper image" style="text-align:left;">
                                <div  class="item-element" style="width:100%;">
                                    <div class="img ratio-3to2"
                                        imgsrc="/uploadedFiles/92052/default/image_1621907479579.png"
                                        style="background-image: url(&quot;https://contents.sixshop.com/thumbnails/uploadedFiles/92052/default/image_1621907479579_300.png&quot;);">
                                    </div>
                                </div>
                            </div>
                            <div  class="item-wrapper text-body">
                                <div  class="item-element">
                                    <p style="text-align: left; font-size: 16px;"><span 
                                            style="color: rgb(0, 0, 0);">예민한 피부에는 자연주의 브랜드 '심플리오'의 26가지 알러젠 프리 향료를 사용한 천연세제를
                                            이용해보세요.</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
    
            </div>
       	</section>-->

       
        <!-- Section 3 -->
        <div id="section3" class="service_info_section3">
            <div class="inner text">
                <h1>서비스 지역 안내</h1>
                <span>* 고객님들의 성원에 힘입어 타 지역도 빠르게 확장 할 수 있도록 노력하겠습니다</span>
                <div class="row service_info_map">
                    <div class="col-md-6 col-lg image">
                        <img th:src="@{/img/member/map.png}">
                    </div>
                    <div class="col-md-6 col-lg" style="padding: 20px 30px;">
                        <div style="height: 40%">
                            <h2> 서비스 가능 지역</h2>
                            <p>강남ㆍ강서ㆍ관악ㆍ광진ㆍ구로ㆍ노원ㆍ도봉ㆍ성북ㆍ송파ㆍ양천ㆍ영등포ㆍ은평구ㆍ중구</p>
                        </div>
                        <div style="border: 1px solid #292929; margin: 40px 0;" ></div>
                        <div style="height: 40%">
                            <h3>서비스 불가 지역</h3>
                            <p>강동ㆍ강북ㆍ금천ㆍ동대문ㆍ동작ㆍ서대문ㆍ서초ㆍ용산ㆍ종로ㆍ중랑</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Top Button -->
	<div th:replace="~{include/member/topButton :: topButton}"></div>
    
    <!-- Footer -->
	<div th:replace="~{include/member/footer :: footer}"></div>
    
</body>
</html>