<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/head :: head}"></head>
<body>
	<!--Header -->
	<div th:replace="~{/include/header :: header}"></div>


    <!-- Main -->
    <div>
        <!-- Section 1 -->
        <div class="service_info_section1">
            <div class="inner">
                <div class="row">
                    <div class="col-md-6 col-12 image">
                        <img th:src="@{/img/member/service_information_banner.png}">
                    </div>
                    <div class="col-md-6 col-12 mt-10 banner">
                        <div class="text">
                            <span>합리적인 가격 서비스</span><h2>편리하고 합리적인 <br>서비스가 필요하다면?</h2><br><strong> 비대면 세탁소 워시워시!</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-background section-cover"></div>

        <!-- Section2 -->
        <div class="service_info_section2">
            <div class="inner">
                <h1>세탁의 정석<br>한 번에 해결하세요</h1>
                <div class="row mb-5">
                    <div class="col-md-6 col-lg service_info_text">
                        <h2>일반 클리닝</h2>
                        <p>봉투에 수건, 양말, 잠옷 같은 빨랫감을 담아주시면 단독 물세탁하고 보송하게 개어 드립니다. 건조기와 빨래방 찾지 말고 저렴한 가격에 세탁 없는 일상을 직접 경험해보세요.</p>
                        <div class="image1">
                            <img th:src="@{/img/member/service_info2.png}">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg service_info_text">
                        <h2>개별 클리닝</h2>
                        <p>드라이클리닝뿐만 아니라 웨트클리닝까지. 개별 품목의 권장된 케어라벨에 따라 세탁하고, 오염 제거를 위한 다양한 케어가 포함됩니다. 의류 뿐만 아니라 침구류, 신발, 러그ㆍ카페트, 가죽ㆍ모피 제품까지 세탁 가능해요.</p>
                        <div class="image2">
                            <img th:src="@{/img/member/service_info1.png}">
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-6 col-lg service_info_text">
                        <h2>당일 배송</h2>
                        <p>다음날 아침에 일어나 바로 즉시 깨끗한 세탁물을 사용할 수 있는 당일 배송을 진행합니다. 오전 10시 이전에 주문한 세탁물은 오후 10시 이전에 받을 수 있습니다.</p>
                        <div class="image2">
                            <img th:src="@{/img/member/service_info3.png}">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg service_info_text">
                        <h2>일반 배송</h2>
                        <p>고객님의 세탁물은 수거, 업체에 접수, 세탁, 배송의 과정으로 진행되어 4~5일정도 소요될 수 있습니다. 조금만 참고 기다려주세요</p>
                        <div class="image1">
                            <img th:src="@{/img/member/service_info4.png}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-background section-cover"></div>

		<!--수정 필요-->
	    <section id="section8504337" class="section widthNormal mymaindiv" data-orderno="7">
            <div class="home contents">
                <div class="inner container">
                    <div class="row">
                        <div data-columnno="1" id="section8504337_column1" class="col-md-3 customSectionColumn column-1">
                            <div id="item24998966" class="item-wrapper text-title" data-type="item"
                                data-itemtype="text-title" data-orderno="1"  data-itemno="24998966"
                                cid="item24998966" style="">
                                <div id="itemElement24998966" class="item-element" style="">
                                    <p class="" style="text-align: left; font-size: 24px;">프리미엄 세탁</p>
                                </div>
                            </div>
                            <div id="item24998229" class="item-wrapper image" data-type="item" data-itemtype="image"
                                data-orderno="2"  data-itemno="24998229" cid="item24998229"
                                style="text-align:left;">
                                <div id="itemElement24998229" class="item-element" style="width:100%;">
                                    <div class="img ratio-3to2"
                                        imgsrc="/uploadedFiles/92052/default/image_1621907544061.png"
                                        style="background-image: url(&quot;https://contents.sixshop.com/thumbnails/uploadedFiles/92052/default/image_1621907544061_300.png&quot;);">
                                    </div>
                                </div>
                            </div>
                            <div id="item24998225" class="item-wrapper text-body" data-type="item" data-itemtype="text-body"
                                data-orderno="3"  data-itemno="24998225" cid="item24998225"
                                style="">
                                <div id="itemElement24998225" class="item-element" style="">
                                    <p style="text-align: left; font-size: 18px;" class=""><span text-style-option="color"
                                            style="color: rgb(0, 0, 0);">검수부터 마무리까지,</span>&nbsp;<span
                                            style="color: rgb(0, 0, 0); font-family: &quot;Noto Sans KR&quot;, sans-serif; font-weight: 500; letter-spacing: -0.04em;">명품다운
                                            프리미엄 올인원 케어. 세계적인 브랜드 Electrolux의 고급 의류 전용 머신, LagoonⓇ 시스템을 도입해 세탁 마찰에 의한 의류 손상을
                                            최소화합니다.</span></p>
                                </div>
                            </div>
                        </div>
                        <div data-columnno="2" id="section8504337_column2" class="col-md-3 customSectionColumn column-2">
                            <div id="item24998167" class="item-wrapper text-title" data-type="item"
                                data-itemtype="text-title" data-orderno="5"  data-itemno="24998167"
                                cid="item24998167" style="">
                                <div id="itemElement24998167" class="item-element" style="">
                                    <p class="" style="text-align: left; font-size: 24px;">수선</p>
                                </div>
                            </div>
                            <div id="item24998254" class="item-wrapper image" data-type="item" data-itemtype="image"
                                data-orderno="6"  data-itemno="24998254" cid="item24998254"
                                style="text-align:left;">
                                <div id="itemElement24998254" class="item-element" style="width:100%;">
                                    <div class="img ratio-3to2"
                                        imgsrc="/uploadedFiles/92052/default/image_1621907536691.png"
                                        style="background-image: url(&quot;https://contents.sixshop.com/thumbnails/uploadedFiles/92052/default/image_1621907536691_300.png&quot;);">
                                    </div>
                                </div>
                            </div>
                            <div id="item24998236" class="item-wrapper text-body" data-type="item" data-itemtype="text-body"
                                data-orderno="7"  data-itemno="24998236" cid="item24998236"
                                style="">
                                <div id="itemElement24998236" class="item-element" style="">
                                    <p class="" style="text-align: left; font-size: 18px;"><span text-style-option="color"
                                            style="color: rgb(0, 0, 0);">헐거운 단추 조이기부터 기장과 허리 수선까지, 대기업 패션 브랜드 출신의 수십 년 경력
                                            베테랑 수선사들이
                                            모였습니다. 더 이상 수선실 찾아 헤매지 마세요.</span></p>
                                </div>
                            </div>
                        </div>
                        <div data-columnno="3" id="section8504337_column3" class="col-md-3 customSectionColumn column-3">
                            <div id="item24998166" class="item-wrapper text-title" data-type="item"
                                data-itemtype="text-title" data-orderno="9"  data-itemno="24998166"
                                cid="item24998166" style="">
                                <div id="itemElement24998166" class="item-element" style="">
                                    <p style="text-align: left; font-size: 24px;" class="">오염케어</p>
                                </div>
                            </div>
                            <div id="item24998255" class="item-wrapper image" data-type="item" data-itemtype="image"
                                data-orderno="10"  data-itemno="24998255" cid="item24998255"
                                style="text-align:left;">
                                <div id="itemElement24998255" class="item-element" style="width:100%;">
                                    <div class="img ratio-3to2"
                                        imgsrc="/uploadedFiles/92052/default/image_1630548918680.png"
                                        style="background-image: url(&quot;https://contents.sixshop.com/thumbnails/uploadedFiles/92052/default/image_1630548918680_300.png&quot;);">
                                    </div>
                                </div>
                            </div>
                            <div id="item25399333" class="item-wrapper text-body" data-type="item" data-itemtype="text-body"
                                data-orderno="12"  data-itemno="25399333" cid="item25399333"
                                style="">
                                <div id="itemElement25399333" class="item-element" style="">
                                    <p class="" style="text-align: left; font-size: 18px;"><span text-style-option="color"
                                            style="color: rgb(0, 0, 0);">얼룩이 많아서, 까다로운 얼룩이라서 세탁비가 너무 비싸진 적 있나요? 반려동물 털 때문에
                                            세탁 거절 당한
                                            적은요? 세특에서는 모두 무료로 서비스 해드려요.</span><br></p>
                                </div>
                            </div>
                        </div>
                        <div data-columnno="4" id="section8504337_column4" class="col-md-3 customSectionColumn column-4">
                            <div id="item24998177" class="item-wrapper text-title" data-type="item"
                                data-itemtype="text-title" data-orderno="14"  data-itemno="24998177"
                                cid="item24998177" style="">
                                <div id="itemElement24998177" class="item-element" style="">
                                    <p class="" style="text-align: left; font-size: 24px;">천연세제 (생활빨래)</p>
                                </div>
                            </div>
                            <div id="item24998235" class="item-wrapper image" data-type="item" data-itemtype="image"
                                data-orderno="15"  data-itemno="24998235" cid="item24998235"
                                style="text-align:left;">
                                <div id="itemElement24998235" class="item-element" style="width:100%;">
                                    <div class="img ratio-3to2"
                                        imgsrc="/uploadedFiles/92052/default/image_1621907479579.png"
                                        style="background-image: url(&quot;https://contents.sixshop.com/thumbnails/uploadedFiles/92052/default/image_1621907479579_300.png&quot;);">
                                    </div>
                                </div>
                            </div>
                            <div id="item24998257" class="item-wrapper text-body" data-type="item" data-itemtype="text-body"
                                data-orderno="16"  data-itemno="24998257" cid="item24998257"
                                style="">
                                <div id="itemElement24998257" class="item-element" style="">
                                    <p class="" style="text-align: left; font-size: 18px;"><span text-style-option="color"
                                            style="color: rgb(0, 0, 0);">예민한 피부에는 자연주의 브랜드 '심플리오'의 26가지 알러젠 프리 향료를 사용한 천연세제를
                                            이용해보세요.</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
    
            </div>
       	</section>

        
        <div class="section-background section-cover"></div>

        <!-- Section 3 -->
        <div class="service_info_section3">
            <div class="inner text">
                <h1>서비스 지역 안내</h1>
                <span>* 고객님들의 성원에 힘입어 타 지역도 빠르게 확장 할 수 있도록 노력하겠습니다</span>
                <div class="row service_info_map">
                    <div class="col-md-6 col-lg image">
                        <img th:src="@{/img/member/map.png}">
                    </div>
                    <div class="col-md-6 col-lg" style="padding: 20px 30px;">
                        <div style="height: 40%">
                            <h2> 서비스 가능 지역</h2>
                            <p>강남ㆍ강서ㆍ관악ㆍ광진ㆍ구로ㆍ노원ㆍ도봉ㆍ성북ㆍ송파ㆍ양천ㆍ영등포ㆍ은평구ㆍ중구</p>
                        </div>
                        <div style="border: 1px solid #292929; margin: 40px 0;" ></div>
                        <div style="height: 40%">
                            <h3>서비스 불가 지역</h3>
                            <p>강동ㆍ강북ㆍ금천ㆍ동대문ㆍ동작ㆍ서대문ㆍ서초ㆍ용산ㆍ종로ㆍ중랑</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Top Button -->
	<div th:replace="~{/include/topButton :: topButton}"></div>
    
    <!-- Footer -->
	<div th:replace="~{/include/footer :: footer}"></div>
    
</body>
</html>