<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{include/member/head :: head}"></head>

<body>
    <!--Header -->
    <div th:replace="~{include/member/header :: header}"></div>
    
    <!-- JS -->
    <script th:src="@{/js/member/autoPay.js}"></script>

    <!-- Main -->
    <div class="inner">
        <div class="row mypage">
            <!-- Section left -->
            <div th:replace="~{include/member/mypageNav :: mypageNav}"></div>

            <!-- Section right -->
            <div class="col-sm-9 col-md-9 col-lg-9">
                <div class="mypage_right">
                    <div class="row">
                        <h2 class="title">내 정보 관리</h2>
                    </div>
                    <div class="row">
                        <div class="mypage_header">
                            <h3 class="title">구독 관리</h3>
                            <!-- Content -->
                            <!--해지 폼-->
                            <div th:if="${member.memberSubscribe == '1'}" class="my_page_form">
                                <form id="sendForm" class="base_info_sec" method="post" action="/member/subscribe/delete" >
									<input type="hidden" id="memberSubscribe" name="memberSubscribe" value="0">
									<input type="hidden" id="memberCard" name="memberCard" value="0">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <th><span class="title">아이디</span></th>
                                                <td>
                                                    <div class="member_warning title">
                                                        <input type="text" id="memberEmail" th:value="${member.memberEmail}" class="inputData title" readonly>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span class="title" style="color: #0e8ff2;">워시플러스</span></th>
                                                <td>
                                                    <div class="member_warning title">
                                                        워시플러스는 워시워시만의 깔끔 구독 서비스입니다.<br>
                                                        고객님께선 등록된 카드로 월 4900원 정기결제를 통해 무료배송 혜택을 받고 계십니다.
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span class="title">구독해지</span></th>
                                                <td>
                                                    <div class="member_warning title">
                                                        고객님께선 등록된 카드로 월 4900원 정기결제를 통해 무료배송 혜택을 받고 계십니다.<br>
                                                        결제수단 관리는 <span
                                                            style="color: #0e8ff2; padding-left: 3px;padding-right: 5px;">마이페이지 > 내 정보 관리 > 결제수단 관리</span>에서
                                                        관리하실 수 있습니다.
                                                        <br> 해지를 원하지 않으신다면, 취소 버튼을 눌러주세요.
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="btn_right_box">
                                        <button type="button" id="btnUpdate" class="btn_comfirm js_btn_join title">구독 해지</button>
                                    </div>
                                </form>
                            </div>
                            <!--신청 폼-->
                            <div th:if="${member.memberSubscribe=='0'}" class="my_page_form">
								<form id="sendForm" class="base_info_sec" method="post" action="/member/subscribe">
									<input type="hidden" id="memberSubscribe" name="memberSubscribe" value="1">
									<input type="hidden" id="memberCard" name="memberCard">
									<input type="hidden" id="memberName" name="memberName" th:value="${member.memberName}">
									<input type="hidden" id="memberPhoneNumber" name="memberPhoneNumber" th:value="${member.memberPhoneNumber}">
									<input type="hidden" id="memberId" name="memberId" th:value="${member.memberId}">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <th><span class="title">아이디</span></th>
                                                <td>
                                                    <div class="member_warning title">
                                                        <input type="text" id="memberEmail" th:value="${member.memberEmail}" class="inputData title" readonly>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span class="title" style="color: #0e8ff2;">워시플러스</span></th>
                                                <td>
                                                    <div class="member_warning title">
                                                        워시플러스는 워시워시만의 깔끔 구독 서비스입니다.<br>
                                                        월 4900원으로 배송비 무료 혜택을 경험해보세요!
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span class="title">결제관리</span></th>
                                                <td>
                                                    <div class="member_warning title">
                                                        등록된 카드로 월 4900원 정기결제를 진행합니다.<br>
                                                        워시플러스 구독 신청을 하시고 배송비 무료 혜택을 경험해보세요!<br>
                                                        결제수단 등록은 <span
                                                            style="color: #0e8ff2; padding-left: 3px;padding-right: 5px;">마이페이지 > 내 정보 관리 > 카드 관리</span>에서
                                                        관리하실 수 있습니다.
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="btn_right_box">
                                        <button type="button" id="btnUpdate" class="btn_comfirm js_btn_join title">구독 신청</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Top Button -->
    <div th:replace="~{include/member/topButton :: topButton}"></div>

    <!-- Footer -->
    <div th:replace="~{include/member/footer :: footer}"></div>

	<script>
		$().ready(function () {

		let state = document.getElementById('memberSubscribe').value;
		let swTitle;
        let swComment;
        let swImage;
        if (state === '0') {
            swTitle = '구독 해지 완료';
            swComment = '구독이 해지 되었습니다.';
            swImage = 'success';
        } else {
            //swTitle = '구독 신청 완료';
            //swComment = '구독 신청이 완료 되었습니다.';
            //swImage = 'success';
           	document.getElementById('btnUpdate').addEventListener('click', function () {
				//autoPay();
				//function autoPay () {
				let memberName = $('#memberName').val();
				let memberEmail = $('#memberEmail').val();
				let memberPhoneNumber = $('#memberPhoneNumber').val();
				let memberId = $('#memberId').val();
				BootPay.request({
					price: 0, // 0으로 해야 한다.
					application_id: "65a160cc00c78a001d3460d7",
					name: '자동 결제', //결제창에서 보여질 이름
					pg: 'nicepay',
					method: 'card_rebill', // 빌링키를 받기 위한 결제 수단
					show_agree_window: 0, // 부트페이 정보 동의 창 보이기 여부
					user_info: {
						username: memberName,
						email: memberEmail,
						phone: memberPhoneNumber
					},
					order_id: '자동결제'+memberId+new Date(), //고유 주문번호로, 생성하신 값을 보내주셔야 합니다.
					params: {},
					extra: {
						//start_at: '2019-05-10', // 정기 결제 시작일 - 시작일을 지정하지 않으면 그 날 당일로부터 결제가 가능한 Billing key 지급
						//end_at: '2022-05-10' // 정기결제 만료일 -  기간 없음 - 무제한
					}
				}).error(function (data) {
					//결제 진행시 에러가 발생하면 수행됩니다.
					location.reload();
					console.log(data);
				}).cancel(function (data) {
					//결제가 취소되면 수행됩니다.
					location.reload();
					console.log(data);
				}).done(function (data) {
					//console.log(data);
					let billingKey = data["billing_key"];
					 $('#memberCard').val(billingKey);
					//console.log("value: ",$('#memberCard').val)
					document.getElementById('sendForm').submit();
				});
			//};
			})
        }
	});
	</script>
</body>
</html>
