<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.metanet.finalproject.memhelp.repository.IMemhelpRepository">
	<select id="searchMemhelp" parameterType="int"
		resultType="com.metanet.finalproject.memhelp.model.MemhelpSearchByMemberId">
		SELECT
			memHelpNum,
			memHelpTitle,
			memHelpDate,
			memCategoryNum,
			memHelpState
		FROM
			MEMHELP
		WHERE 
			MEMBER_ID = #{memberId}
		ORDER BY
			MEMHELPNUM DESC
	</select>
	
	<insert id="insertMemhelp"
		parameterType="com.metanet.finalproject.memhelp.model.Memhelp">
		INSERT INTO MEMHELP
		VALUES(
			MEMHELP_SEQ.NEXTVAL,
			#{memHelpTitle},
			#{memHelpContent},
			#{memHelpFile, jdbcType=BLOB},
			#{memHelpState},
			#{memHelpDate},
			#{memberId},
			#{memCategoryNum}
		)
	</insert>
	
	<insert id="insertOrder"
		parameterType="com.metanet.finalproject.orders.model.Orders">
		<selectKey keyProperty="ordersId" resultType="int"
			order="BEFORE">
			select
			nvl(max(orders_id), 0) + 1
			from orders
		</selectKey>

		INSERT INTO ORDERS (
		orders_id,
		wash_id,
		orders_count,
		orders_price,
		orders_date,
		orders_comment,
		orders_status,
		member_id,
		laundry_id,
		ORDERS_IMAGE_DATA
		)
		VALUES (
		#{ordersId},
		#{washId},
		#{ordersCount},
		#{ordersPrice},
		sysdate,
		#{ordersComment},
		#{ordersStatus},
		#{memberId},
		#{laundryId},
		#{ordersImageData,jdbcType=BLOB}
		)
	</insert>


	<!-- <![CDATA[ -->
	<!-- ]]> -->

</mapper>
