<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.metanet.finalproject.files.repository.IFilesRepository">

<!-- 	<select id="searchFiles" parameterType="int" resultType="com.metanet.finalproject.files.model.Files"> -->
<!-- 		SELECT -->
<!-- 	        files_id as filesID, -->
<!-- 	        files_oname, -->
<!-- 	        files_nname, -->
<!-- 	        files_path, -->
<!-- 	        files_type, -->
<!-- 	        files_data, -->
<!-- 	        orders_id as ordersId -->
<!-- 	    FROM FILES -->
	    
<!-- 	    WHERE order_id = #{orderId} -->
	    
<!-- 	    ORDER BY orders_id -->
<!-- 	</select> -->
	
	<insert id="insertImageFile" parameterType="com.metanet.finalproject.files.model.Files">
	INSERT INTO FILES (
		files_id,
	    files_oname,
	    files_nname,
	    files_path,
	    files_type,
	    files_data,
	    orders_id
	)
	VALUES (
		FILES_SEQ.NEXTVAL,
		#{files_oname},
		#{files_nname},
		#{files_path},
		#{files_type},
		#{files_data, jdbcType=BLOB},
		#{ordersId}
	)
	</insert>
	
<!-- 	<delete id="deleteOrder" parameterType="com.metanet.finalproject.orders.model.Orders"> -->
<!-- 		DELETE FROM ORDERS -->
<!-- 		WHERE orders_id = #{ordersId} -->
<!-- 	</delete> -->
</mapper>