<!DOCTYPE html>
<html lang="en">
<!--Header -->
<div th:replace="~{include/admin/head :: head}"></div>

<body class="sb-nav-fixed">
	  		<link rel="stylesheet" th:href="@{/css/member/orders.css}">

	<nav th:replace="~{include/admin/header :: header}"></nav>

	<div id="layoutSidenav">
		<div th:replace="~{include/admin/nav :: navbar}"></div>

		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4 title">워시워시 결제 관리</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item active title">결제 관리</li>
					</ol>
					
					<div class="card mb-4">
							
						<div class="card-body" style="overflow-x: auto;">
							<div style="display: flex; justify-content: space-between; align-items: center;">
								<div class="my-month__wrap" style="height: auto;padding: 0;">
	                                <ul id="period" class="month_list" style="float: none; padding: 0px;">
	                                    <li><input type="radio" name="radio_name_d" id="radio_d_1_2" data-value="1:m" value="0" data-datepicker-push="unique_datepicker_name" data-push-align="back"> <label for="radio_d_1_2">모든결제</label></li>
	                                    <li><input type="radio" name="radio_name_d" id="radio_d_1_3" data-value="3:m" value="1" data-datepicker-push="unique_datepicker_name" data-push-align="back"> <label for="radio_d_1_3">결제완료</label></li>
	                                    <li><input type="radio" name="radio_name_d" id="radio_d_1_4" data-value="6:m" value="2" data-datepicker-push="unique_datepicker_name" data-push-align="back"> <label for="radio_d_1_4">결제취소</label></li>
	                                </ul>
		                    	</div>
		                    	<div class="my-month__wrap" style="height: auto;padding: 0;">
	                                <ul id="period" class="month_list" style="float: none; padding: 0px;">
	                                    <li style="
    width: auto;
"> <input style="width: auto"></li>
	                                    <li style="
    width: auto;
"> <input type="submit"></li>
	                                </ul>
		                    	</div>
		                    	
							</div>
							
							
							<table id="datatablesSimple" class="table table-striped table-hover info">
								<thead>
									<tr>
										<th class="title">주문ID</th>
										<th class="title">이메일</th>
										<th class="title">이름</th>
										<th class="title">구독상태</th>
										<th class="title">구독날짜</th>
										<th class="title">누적구독액</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Tiger Nixon</td>
										<td>System Architect</td>
										<td>Edinburgh</td>
										<td>61</td>
										<td>2011/04/25</td>
										<td>$320,800</td>
									</tr>
									
									
								</tbody>
							</table>
							
						</div>
						
					</div>
				</div>
			</main>
			<footer th:replace="~{include/admin/footer :: footer}"></footer>
		</div>
	</div>
</body>

</html>