<!DOCTYPE html>
<html lang="en">
<div th:replace="~{include/admin/head :: head}"></div>
<style>
	#datatablesSimple:hover {
		cursor: pointer;
	}
	
</style>

<body class="sb-nav-fixed">
	
	<nav th:replace="~{include/admin/header :: header}"></nav>

	<div id="layoutSidenav">
		<div th:replace="~{include/admin/nav :: navbar}"></div>

		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4 title">워시워시</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item active">메인 페이지</li>
					</ol>

					<div class="row">
						<div class="col-xl-3 col-md-3">
							<div class="card mb-3" style="background-color: #ff6384;">
								<div class="card-body title">회원 수</div>
								<div class="card-footer d-flex align-items-center justify-content-between">
									<div class="small text-black">
										<i class="fas fa-angle-right"></i>
										<span class="title" th:text="${memberCount}+'명'"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-3">
							<div class="card text-black mb-3" style="background-color: #36a2eb;">
								<div class="card-body title">총 매출</div>
								<div class="card-footer d-flex align-items-center justify-content-between">
									<div class="small text-black">
										<i class="fas fa-angle-right"></i>
										<span id="totalPay" class="title"
											th:text="${#numbers.formatInteger(totalPay, 0, 'COMMA')}+'원'"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-3">
							<div class="card text-black mb-3" style="background-color: #ff6384;">
								<div class="card-body title">문의대기</div>
								<div class="card-footer d-flex align-items-center justify-content-between">
									<div class="small text-black">
										<i class="fas fa-angle-right"></i>
										<span class="title" th:text="${totalHelp}+'개'"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-3">
							<div class="card text-black mb-3" style="background-color: #36a2eb;">
								<div class="card-body title">누적 주문 건수</div>
								<div class="card-footer d-flex align-items-center justify-content-between">
									<div class="small text-black">
										<i class="fas fa-angle-right"></i>
										<span class="title" th:text="${totalCount}+'개'"></span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row mb-4">
						<div class="col-xl-6 col-md-6" style="margin-bottom: 30px;">
							<div class="card mb-6">

								<div class="card-header">
									<!--<i class="fas fa-chart-area me-1"></i>-->
									<input id="payDate" type="hidden" th:value="${payDateList}">
									<input id="payMoney" type="hidden" th:value="${payMoneyList}">
									월별 매출 통계
								</div>
								<div class="card-body">
									<canvas id="paychart" style="align-items: center; width: 100%;"></canvas>
								</div>
							</div>
						</div>

						<div class="card col-xl-6 col-md-6" style="padding-left: 0;padding-right: 0;">
							<div class="card-header">
								<!--<i class="fas fa-table me-1"></i>-->
								전체 주문내역 조회
							</div>
							<div class="card-body">
								<table id="datatablesSimple" class="table table-striped table-hover info title">
									<thead>
										<tr>
											<th>회원번호</th>
											<th>주문번호</th>
											<th>요청사항</th>
											<th>세탁확인</th>
											<th>주문금액</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="list : ${ordersAllList}"
											th:onclick="'window.location.href=\'/admin/order/view/' + ${list.memberId} + '/' + ${list.washId} + '\';'">
											<td th:text="${list.memberId}"></td>
											<td th:text="${list.washId}"></td>
											<td th:if="${list.ordersComment} eq null">
												<span>요청사항 없음</span>
											</td>
											<td th:unless="${list.ordersComment} eq null">
												<span th:text="${list.ordersComment}"></span>
											</td>
											<td th:if="${list.ordersCheckDate}==1">
												<span th:text="당일세탁"></span>
											</td>
											<td th:unless="${list.ordersCheckDate}==1">
												<span th:text="일반세탁"></span>
											</td>
											<!--<td th:text="${list.ordersCheckDate}"></td>-->
											<td th:text="${list.ordersPrice}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>
					<div class="row mb-4">
						<div class="col-xl-6 col-md-6" style="margin-bottom: 30px;">
							<div class="card mb-6">

								<div class="card-header">
									<!--<i class="fas fa-chart-area me-1"></i>-->

									목표 매출액 진척도
								</div>
								<div class="card-body" style="align-items: center!important; max-width: 500px;">
									<canvas id="chart8" style="align-items: center; width: 100%;"></canvas>
								</div>
							</div>
						</div>

						<div class="card col-xl-6 col-md-6" style="padding-left: 0;padding-right: 0;">
							<div class="card-header">
								<!--<i class="fas fa-table me-1"></i>-->

								문의내역
							</div>
							<div class="card-body" id="memberTable" th:fragment="memberTable">
								<table id="datatablesSimple" class="title table table-striped table-hover">
									<colgroup>
										<col style="width:14%">
										<col style="width:14%">
										<col style="width:14%">
										<col style="width:14%">
										<col style="width:20%">
									</colgroup>
									<thead>
										<tr>
											<th scope="col">문의번호</th>
											<th scope="col">문의제목</th>
											<th scope="col">문의날짜</th>
											<th scope="col">문의카테고리</th>
											<th scope="col">문의상태</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="memhelp : ${memhelpList}">
											<td>
												<span th:text="'#'+${memhelp.memHelpNum}"></span>
											</td>
											<td>
												<!--														    <a th:href="@{/admin/reply/insert/{memHelpNum}(memHelpNum=${memhelp.memHelpNum})/{memberId}(memberId=${memhelp.memberId})}" style="color: #007BFF; text-decoration: underline; font-weight: bold;">-->
												<a th:href="@{/admin/reply/insert/{memHelpNum}(memHelpNum=${memhelp.memHelpNum})}"
													style="color: black; text-decoration: none;">
													<span th:text="${memhelp.memHelpTitle}"></span>
												</a>
											</td>
											<td>
												<span th:text="${memhelp.memHelpDate}"></span>
											</td>
											<td>
												<span th:switch="${memhelp.memCategoryNum}">
													<span th:case="1">회원정보</span>
													<span th:case="2">설정/보안/인증</span>
													<span th:case="3">주문/결제</span>
													<span th:case="4">취소/환불</span>
													<span th:case="5">배송</span>
													<span th:case="6">영수증</span>
													<span th:case="7">고객의소리/기타</span>
													<span th:case="8">세탁정보</span>

												</span>
											</td>
											<td>
												<span th:switch="${memhelp.memHelpState}">
													<span th:case="0">답변 대기</span>
													<span th:case="1">답변 완료</span>
												</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
			</main>
			<footer th:replace="~{include/admin/footer :: footer}"></footer>
		</div>
	</div>
</body>


<script>

	window.addEventListener('DOMContentLoaded', event => {

		var currentTotalPayText = document.getElementById('totalPay').innerText;
		var currentTotalPay = parseFloat(currentTotalPayText.replace(/[^0-9]/g, ''));

		console.log('currentTotalPay>>', currentTotalPay);

		var chartArea = document.getElementById('chart8').getContext('2d');
		var chart8 = new Chart(chartArea, {
			type: 'doughnut',
			data: {
				labels: ['진척도', '목표액'],
				datasets: [
					{
						label: '(단위 : 원)',
						data: [currentTotalPay, 10000000],
						//backgroundColor: ["#ffeb9b", "#b5f2ff"],
						//borderColor: ["#ffeb9b", "#b5f2ff"],
						circumference: 180,
						rotation: 270
					},
				],
			},

		});

		var payDateList = document.getElementById('payDate').value;
		var matches = payDateList.match(/\d+-\d+-\d+/g);

		var payMoneyList = document.getElementById('payMoney').value;
		console.log('payMoneyList>>>>>', payMoneyList);
		var moneyMatches = payMoneyList.match(/\d+/g);
		console.log('moneyMatches>>>', moneyMatches);

		var monthlyData = {};
		for (var i = 0; i < matches.length; i++) {
			console.log(matches[i]);
			var yearmonth = matches[i].substring(0, 7);
			console.log('yearmonth ===', yearmonth);

			if (monthlyData[yearmonth] === undefined) {
				monthlyData[yearmonth] = 0;
			}

			monthlyData[yearmonth] += parseInt(moneyMatches[i], 10);

		}

		var labels = Object.keys(monthlyData).sort();
		var datasets = labels.map(function (label) {
			return monthlyData[label];
		});

		var chartArea = document.getElementById('paychart').getContext('2d');
		var paychart = new Chart(chartArea, {
			type: 'line',
			data: {
				labels: labels,
				datasets: [
					{
						label: '(단위 : 원)',
						data: datasets,
						backgroundColor:["#ff6384"],
						borderColor:["#36a2eb"]
						//backgroundColor: ["#ffeb9b", "#b5f2ff"],
						//borderColor: ["#ffeb9b", "#b5f2ff"]
					},
				],
			},

		});

	});



</script>

</html>