<!DOCTYPE html>
<html lang="en">
<!--Header -->
<div th:replace="~{include/admin/head :: head}"></div>

<body class="sb-nav-fixed">
	<!--<p th:text="${ordersAllList}"></p>-->
	<nav th:replace="~{include/admin/header :: header}"></nav>

	<div id="layoutSidenav">
		<div th:replace="~{include/admin/nav :: navbar}"></div>

		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4 title">워시워시 주문내역 조회</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item active title">빠른메뉴</li>
					</ol>
					<div class="row">
						<div class="col-xl-3 col-md-6">
							<div class="card bg-primary text-white mb-4">
								<div class="card-body title">홈</div>
								<div class="card-footer d-flex align-items-center justify-content-between">
									<a class="small text-white stretched-link title" href="/admin">홈으로 돌아가기</a>
									<div class="small text-white"><i class="fas fa-angle-right"></i></div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="card bg-warning text-white mb-4">
								<div class="card-body title">결제 조회</div>
								<div class="card-footer d-flex align-items-center justify-content-between title">
									<a class="small text-white stretched-link" href="/admin/pay">결제 조회하기</a>
									<div class="small text-white"><i class="fas fa-angle-right"></i></div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="card bg-success text-white mb-4">
								<div class="card-body title">회원 조회</div>
								<div class="card-footer d-flex align-items-center justify-content-between title">
									<a class="small text-white stretched-link" href="/admin/member">회원 조회하기</a>
									<div class="small text-white"><i class="fas fa-angle-right"></i></div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="card bg-danger text-white mb-4">
								<div class="card-body title">매출 조회</div>
								<div class="card-footer d-flex align-items-center justify-content-between title">
									<a class="small text-white stretched-link" href="/admin/chart">매출 조회하기</a>
									<div class="small text-white"><i class="fas fa-angle-right"></i></div>
								</div>
							</div>
						</div>
					</div>
					<div class="card mb-4">
						<div class="card-header title">
							<i class="fas fa-table me-1"></i>
							전체 주문내역 조회
						</div>
						<div class="card-body">
							<table id="datatablesSimple" class="table table-striped table-hover info title">
								<thead>
									<tr>
										<th>회원번호</th>
										<th>주문번호</th>
										<th>요청사항</th>
										<th>세탁확인</th>
										<th>주문금액</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="list : ${ordersAllList}"
										th:onclick="'window.location.href=\'/admin/order/view/' + ${list.memberId} + '/' + ${list.washId} + '\';'">
										<td th:text="${list.memberId}"></td>
										<td th:text="${list.washId}"></td>
										<td th:if="${list.ordersComment} eq null">
											<span>요청사항 없음</span>
										</td>
										<td th:unless="${list.ordersComment} eq null">
											<span th:text="${list.ordersComment}"></span>
										</td>
										<td th:if="${list.ordersCheckDate}==1">
											<span th:text="당일세탁"></span>
										</td>
										<td th:unless="${list.ordersCheckDate}==1">
											<span th:text="일반세탁"></span>
										</td>
										<!--<td th:text="${list.ordersCheckDate}"></td>-->
										<td th:text="${list.ordersPrice}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-12">
							<div class="card mb-4">
								<div class="card-header title">
									<i class="fas fa-chart-area me-1"></i>
									주문 건수 통계
								</div>
								<div class="card-body">
									<canvas id="myChart" width="100%" height="40"></canvas>
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>
			<footer th:replace="~{include/admin/footer :: footer}"></footer>
		</div>
	</div>
</body>
<style>
	#datatablesSimple:hover{
		cursor: pointer;
	}
</style>
<script>

	// 차트를 그럴 영역을 dom요소로 가져온다.
	var chartArea = document.getElementById('myChart').getContext('2d');
	// 차트를 생성한다. 
	var myChart = new Chart(chartArea, {
		// ①차트의 종류(String)
		type: 'bar',
		// ②차트의 데이터(Object)
		data: {
			// ③x축에 들어갈 이름들(Array)
			labels: ['7일', '8일', '9일', '10일', '11일', '12일', '13일'],
			// ④실제 차트에 표시할 데이터들(Array), dataset객체들을 담고 있다.
			datasets: [{
				// ⑤dataset의 이름(String)
				label: '# 일별 주문 건수 통계',
				// ⑥dataset값(Array)
				data: [12, 19, 3, 5, 2, 3, 6],
				// ⑦dataset의 배경색(rgba값을 String으로 표현)
				backgroundColor: '#00C7E2',
				// ⑧dataset의 선 색(rgba값을 String으로 표현)
				borderColor: '#00C7E2',
				// ⑨dataset의 선 두께(Number)
				borderWidth: 1
			}]
		},
		// ⑩차트의 설정(Object)
		options: {
			// ⑪축에 관한 설정(Object)
			scales: {
				// ⑫y축에 대한 설정(Object)
				y: {
					// ⑬시작을 0부터 하게끔 설정(최소값이 0보다 크더라도)(boolean)
					beginAtZero: true
				}
			}
		}
	});
</script>

</html>