<!DOCTYPE html>
<html lang="en">
<!--Header -->
<div th:replace="~{include/admin/head :: head}"></div>

<body class="sb-nav-fixed">
	<!--<p th:text="${orderList}"></p>-->
	<nav th:replace="~{include/admin/header :: header}"></nav>

	<div id="layoutSidenav">
		<div th:replace="~{include/admin/nav :: navbar}"></div>

		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4 title">워시워시 주문 상세조회</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item active title">빠른메뉴</li>
					</ol>
					<div class="row">
						<div class="col-xl-3 col-md-6">
							<div class="card bg-primary text-white mb-4">
								<div class="card-body title">주문 조회</div>
								<div class="card-footer d-flex align-items-center justify-content-between">
									<a class="small text-white stretched-link title" href="/admin/order">주문 조회하기</a>
									<div class="small text-white"><i class="fas fa-angle-right"></i></div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="card bg-warning text-white mb-4">
								<div class="card-body title">결제 조회</div>
								<div class="card-footer d-flex align-items-center justify-content-between title">
									<a class="small text-white stretched-link" href="/admin/pay">결제 조회하기</a>
									<div class="small text-white"><i class="fas fa-angle-right"></i></div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="card bg-success text-white mb-4">
								<div class="card-body title">회원 조회</div>
								<div class="card-footer d-flex align-items-center justify-content-between title">
									<a class="small text-white stretched-link" href="/admin/member">회원 조회하기</a>
									<div class="small text-white"><i class="fas fa-angle-right"></i></div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="card bg-danger text-white mb-4">
								<div class="card-body title">매출 조회</div>
								<div class="card-footer d-flex align-items-center justify-content-between title">
									<a class="small text-white stretched-link" href="/admin/chart">매출 조회하기</a>
									<div class="small text-white"><i class="fas fa-angle-right"></i></div>
								</div>
							</div>
						</div>
					</div>

					<div class="card mb-4">
						<div class="card-header title">
							<i class="fas fa-table me-1"></i>
							주문내역 상세조회
						</div>
						<form method="post" th:action="@{/admin/order/update}">
							<input type="hidden" name="washId" th:value="${orderList[0].washId}">

							<div class="card-body">
								<table id="datatablesSimple" class="table table-striped table-hover info">
									<tbody>
										<tr>
											<td class="col-md-4" rowspan="6">
												<!--임시 이미지, 나중엔 db에서 사용자가 입력한 이미지로 대체-->
												<img style="width: 100%; height: auto;"
													src="https://github.com/KHaeWon/MetanetWebJSP_EL_JSTL/assets/127920368/94785d0b-b815-4100-bfd8-4015a86f2204">
											</td>
										</tr>
										<tr>
											<td class="col-md-4 title"
												style="text-align: center; vertical-align: middle;">
												회원번호</td>
											<td class="col-md-2 title" th:text="${orderList[0].memberId}"
												style="vertical-align: middle;"></td>
										</tr>
										<tr>
											<div class="row">
												<td class="col-md-4 title"
													style="text-align: center;vertical-align: middle;">요청사항</td>
												<td class="title" th:if="${orderList[0].ordersComment} eq null"
													style="vertical-align: middle;">
													<span>요청사항 없음</span>
												</td>
												<td class="title" th:unless="${orderList[0].ordersComment} eq null"
													style="vertical-align: middle;">
													<span th:text="${orderList[0].ordersComment}"></span>
												</td>
											</div>
										</tr>
										<tr>
											<div class="row">

												<td class="col-md-4 title"
													style="text-align: center;vertical-align: middle;">상태값 변경</td>
												<td class="col-md-4 title" style="vertical-align: middle;">
													<select id="ordersStatus" class="col-md-3">
														<option value="1" name="ordersStatus">수거진행</option>
														<option value="2" name="ordersStatus">수거완료</option>
														<option value="3" name="ordersStatus">세탁진행</option>
														<option value="4" name="ordersStatus">배송진행</option>
														<option value="5" name="ordersStatus">배송완료</option>
													</select>
													<input type="hidden" id="hiddenOrdersStatus" name="ordersStatus">
													<button id="orderStateChangeButton" type="submit" class="btn btn-primary title"
														onclick="updateStatus()" style="margin-left: 5px;">수정</button>
												</td>
												<!--<td class="col-md-1 title"
												style="text-align: center;vertical-align: middle;">
												<input type="button" class="btn btn-primary title" onclick="updateStatus()">수정</input>	
											</td>-->

												<!--<td class="col-md-2 title"
												style="text-align: center;vertical-align: middle;">진행상태</td>
											<th:block th:switch="${orderList[0].ordersStatus}">
												<td class="col-md-2 title" th:case="1" style="vertical-align: middle;">
													수거진행
													<button id="statusBtn" class="modals title"
														style="margin-left: 15px; border-radius: 10px; color: #fff; background: black;">수정</button>
												</td>
												<td class="col-md-2 title" th:case="2" style="vertical-align: middle;">
													수거완료
													<button id="statusBtn" class="title"
														style="margin-left: 15px; border-radius: 10px; color: #fff; background: black;">수정</button>
												</td>
												<td class="col-md-2 title" th:case="3" style="vertical-align: middle;">
													세탁진행
													<button id="statusBtn" class="title"
														style="margin-left: 15px; border-radius: 10px; color: #fff; background: black;">수정</button>
												</td>
												<td class="col-md-2 title" th:case="4" style="vertical-align: middle;">
													배송진행
													<button id="statusBtn" class="title"
														style="margin-left: 15px; border-radius: 10px; color: #fff; background: black;">수정</button>
												</td>
												<td class="col-md-2 title" th:case="5" style="vertical-align: middle;">
													배송완료
													<button id="statusBtn" class="title"
														style="margin-left: 15px; border-radius: 10px; color: #fff; background: black;">수정</button>
												</td>
											</th:block>-->

											</div>
										</tr>
										<tr>
											<td class="col-md-4 title"
												style="text-align: center;vertical-align: middle;">
												세탁확인</td>
											<td class="title" th:if="${orderList[0].ordersCheckDate} eq 1"
												style="vertical-align: middle;">
												<span>당일세탁</span>
											</td>
											<td class="title" th:unless="${orderList[0].ordersCheckDate} eq 1"
												style="vertical-align: middle;">
												<span>일반세탁</span>
											</td>
										</tr>
										<tr>
											<div class="row">
												<td class="col-md-4 title"
													style="text-align: center;vertical-align: middle;">주문날짜</td>
												<td class="col-md-4 title" th:text="${orderList[0].ordersDate}"
													style="vertical-align: middle;"></td>
											</div>
										</tr>
									</tbody>

								</table>
							</div>
						</form>

					</div>
					<div class="card mb-4" style="border-top: 1px solid #d9d9d9;">
						<div class="card-body">
							<table id="datatablesSimple" class="table table-striped table-hover info">
								<thead>
									<tr>
										<th class="col-md-3 title" style="text-align: center;">주문번호</th>
										<th class="col-md-3 title" style="text-align: center;">주문상품번호</th>
										<th class="col-md-3 title" style="text-align: center;">주문상품명</th>
										<th class="col-md-3 title" style="text-align: center;">수량</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="order :${orderList}">
										<div class="row">
											<input type="hidden" name="washId" value="${order.washId}">
											<td id="washId" name="washId" class="col-md-3 title"
												style="text-align: center;" th:text="${order.washId}"></td>
											<td class="col-md-3 title" style="text-align: center;"
												th:text="${order.ordersId}"></td>
											<div th:each="laundry:${laundryList}">

												<td th:if="${order.laundryId==laundry.laundryId}" class="col-md-3 title"
													style="text-align: center;" th:text="${laundry.laundryName}"></td>
											</div>
											<td class="col-md-3 title" style="text-align: center;"
												th:text="${order.ordersCount}"></td>
										</div>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</main>


			<!--모달창-->
			<!--<div class="black-bg">
				<div class="white-bg">
					<h4 class="title">진행상태 변경</h4>
					<div class="card-body">
						<form method="post" th:action="@{/orders/insert}">
						<table id="datatablesSimple" class="table table-striped table-hover info">
							<tbody>
								<tr>
									<div class="row">
										<td class="col-md-4 title" style="text-align: center;vertical-align: middle;">
											진행상태</td>
										<td class="col-md-4 title">
											<select id="statusSelect" class="col-md-3">
												<option value="">선택하세요</option>
												<option value="1">수거 진행</option>
												<option value="2">수거 완료</option>
												<option value="3">세탁 진행</option>
												<option value="4">배송 진행</option>
												<option value="5">배송 완료</option>
											</select>
										</td>
									</div>
								</tr>
							</tbody>
						</table>
						</form>
					</div>
					<button type="button" class="btn btn-primary title" onclick="updateStatus()">수정</input>
					<button type="button" class="btn btn-danger title" id="close" style="margin-left: 10px;">닫기</input>
				</div>
			</div>-->

		</div>
	</div>
</body>
<!--<style>
	.black-bg {
		display: none;
		width: 100%;
		height: 100%;
		position: fixed;
		background: rgba(0, 0, 0, 0.5);
		z-index: 5;
		padding: 30px;
	}

	.white-bg {
		background: white;
		border-radius: 5px;
		padding: 50px;
	}
</style>-->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!--<script>
	$(".modals").click(function () {
		$(".black-bg").fadeIn();
	}); //모달창 생성 
	$(".btn-danger").click(function () {
		$(".black-bg").fadeOut(); //닫기를 누르면 모달창 사라짐
	});
</script>-->
<script>
	function updateStatus() {
		var selectedStatus = document.getElementById('ordersStatus').value;
		console.log('selectedStatus>>>', selectedStatus);
		document.getElementById('hiddenOrdersStatus').value = selectedStatus;
	}
</script>

</html>